<div class="video-intro">
	<h3>Something about the company, watch this video.</h3>
	<p>Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in.</p>
	<p>Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in.</p>
</div>