<div id="footer">
	<div class="container">
		<div class="row">	
			<div class="col-md-10 contact-info-wrap">
				<h4>Hash Cookies</h4>
				<address>Almeida Vaddo, Parra, Bardez, Goa 403 410</address>
				<div class="clearfix"></div>
				
				<hr />
				
				<ul class="contact-info">
					<li><span class="label">Phone</span> +91 9637 443 666</li>
					<li><span class="label">Email</span> fresh@hashcooki.es</li>
					<li><span class="label">Facebook</span> fb.com/hashcookies</li>
				</ul>
			</div>
			<div class="col-md-2 text-center">
				<svg id="hc-logo" width="100" height="100" viewBox="0 0 288 288" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
				    <!-- Generator: Sketch 3.0 (7574) - http://www.bohemiancoding.com/sketch -->
				    <title>Oval 1 + hc-logo2</title>
				    <description>Created with Sketch.</description>
				    <defs></defs>
				    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
				        <g id="Oval-1-+-hc-logo2" sketch:type="MSLayerGroup">
				            <circle id="Oval-1" fill="#1A3F4A" sketch:type="MSShapeGroup" cx="144" cy="144" r="144"></circle>
				            <g id="hc-logo2" transform="translate(33.000000, 33.000000)" fill="#E7EC41" sketch:type="MSShapeGroup">
				                <path d="M111.067,222.401 C49.579,222.401 -0.267,172.554 -0.267,111.068 C-0.267,49.58 49.579,-0.266 111.067,-0.266 L118.4,-0.266 L118.4,5.401 L111.067,5.401 C53.384,5.401 6.623,52.163 6.623,109.845 C6.623,167.527 53.385,214.289 111.067,214.289 L118.4,214.025 L118.4,222.087 L111.067,222.401 L111.067,222.401 Z" id="Shape"></path>
				                <path d="M134.139,219.901 C184.305,209.087 221.901,164.466 221.901,111.068 C221.901,57.632 184.255,12.989 134.039,2.213 L133.937,8.025 C180.368,18.639 215.011,60.197 215.011,109.845 C215.011,159.327 180.598,200.776 134.398,211.557 L134.139,219.901 L134.139,219.901 Z" id="Shape"></path>
				                <g id="Group" transform="translate(15.000000, 14.000000)">
				                    <path d="M84.151,107.276 L104.651,107.276 L107.776,82.276 L86.776,82.151 L84.151,107.276 Z" id="Shape"></path>
				                    <path d="M95.877,-0.097 C42.765,-0.097 -0.29,42.959 -0.29,96.07 C-0.29,149.181 42.765,192.236 95.877,192.236 C148.988,192.236 192.044,149.181 192.044,96.07 C192.044,42.959 148.989,-0.097 95.877,-0.097 L95.877,-0.097 Z M158.735,82.234 L133.235,82.234 L130.568,107.067 L153.068,107.067 L153.068,128.734 L127.672,128.817 L125.068,160.4 L99.735,160.4 L103.402,128.9 L81.735,128.9 L78.568,160.4 L53.233,160.4 L56.734,128.734 L33.818,128.734 L33.818,108.151 L59.4,108.151 L61.484,82.151 L39.275,82.192 L39.233,61.401 L63.733,61.401 L67.233,31.401 L91.733,31.401 L89.066,61.401 L110.566,61.401 L113.733,31.401 L138.233,31.401 L135.733,61.401 L158.733,61.401 L158.733,82.234 L158.735,82.234 Z" id="Shape"></path>
				                </g>
				            </g>
				        </g>
				    </g>
				</svg>	
				<span id="cold-quote">Fly on…</span>
			</div>			
		</div> <!-- end row -->
	</div>
</div>