<div class="cover">
		<div class="hero">
		<div id="left-block">
			<img src="/images/hc-cup.png" alt="Cup made of icons representing the work Hash Cookies do" id="hc-cup" />
		</div>
		<div id="right-block">
			<div class="intro">
				<p class="first">Creating delightful experiences is our passion.</p> 
				<p>Technology and Design are our tools.
				<p>The Web is our medium.</p>
				
				<div class="main-title">
					<span>We're</span>
					<h1>Hash Cookies</h1>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container intro-container">
	<div class="row text-center">
		<svg width="300px" height="1px" viewBox="0 0 300 1"  data-0="width: 0px;" data-500="width: 300px;" version="1.1">	
		        <path d="M0.5,1 L300,1" id="Line" stroke="#E7EC41" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
		</svg>
	</div>
	<div class="row titles">
		<div class="col-md-12 text-center">
			<h2>Our Design Work</h2>
			<p class="lead">We embrace the modern web as an expressive platform to connect with people.</p>
		</div>

		<div id="intro-screenshots">
			<div id="scr-ggw" class="screenshot"  data-180-top-top="transform:translateY(0px)" data-top-bottom="transform:translateY(110px)">
				<img src="/images/scr-ggw.jpg" alt="" />
			</div>
			
			<div id="scr-aether" class="screenshot"  data-200-top-top="transform:translateY(0px)" data-top-bottom="transform:translateY(110px)">
				<img src="/images/scr-aether.jpg" alt=""  />
			</div>
			
			<div id="scr-nitido" class="screenshot"  data-170-top-top="transform:translateY(0px)" data-top-bottom="transform:translateY(110px)">
				<img src="/images/scr-ggw.jpg" alt="" />
			</div>
		</div>
	</div>
</div>
<div class="white-container">
	<div class="container">
		<div class="row section">
			<div class="col-md-12 text-center">
				<h5>Clean. Minimal. Content-first.</h5>
				<p>We love to use content as navigation, whitespace as user interface, art as communication; leaving none of our own footprints in our clients’ work.</p>
			</div>
		</div>
	</div>
	<div class="screenshot-wrap">
		<svg version="1.1">
			<g id="Group" class="browser-frame" sketch:type="MSShapeGroup" transform="translate(0.5,0.5)">
			    <rect class="long-path main-frame" id="Rectangle-1" x="0" y="0" width="95%" rx="3"></rect>
			    <line id="browser-line" y2="50" x2="95%" y1="50" x1="0" stroke-width="5" stroke="#000000" fill="none" class="long-path"/>
			    <circle class="short-path" id="Oval-1" cx="22" cy="23" r="6"></circle>
			    <circle class="short-path" id="Oval-2" cx="40" cy="23" r="6"></circle>
			    <circle class="short-path" id="Oval-3" cx="60" cy="23" r="6"></circle>
			    <rect class="long-path" id="address-bar" x="77" y="13" width="85%" height="20" rx="3"></rect>
			    <img src="/images/scr-cg.jpg" class="screenshot" alt="" id="scr-cg" />
			</g>
		</svg>
		
	</div>
</div>