<div class="cover">
	<div class=" container-fluid">
		<h3>Creating delightful experiences is our passion.<br /> Technology and design are our tools.<br /> The web is our medium.</h3>
		<h1>We're Hash Cookies</h1>
	</div>
</div>

<div class="main-content">
	<div class="container">
	<% @projects.each_with_index do |project,i| %>
		<div class="col-md-3">
		  	  <div class="col-md-12">
		  	  	<img src="/projects/<%= project.filename %>" width="200" height="200" />
		  	  </div>
		  	  <div class="col-md-12">
		  	  	<h3><a href="/show/<%= project.id %>"><%= project.name %></a></h3>
		  	  </div>
		</div>
	<% end %>
	</div>
</div>