<div class="cover">
		<div class="hero">
		<div id="left-block">
			<svg version="1.1" id="cup" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="841.89px" height="595.28px" viewBox="0 0 841.89 595.28" enable-background="new 0 0 841.89 595.28" xml:space="preserve">
				<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="313.25" y1="297.362" x2="259.25" y2="243.862"/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="309.667,304.736 230.667,304.736 187.667,346.667 
					171,346.667 "/>
				<circle cx="168.833" cy="346.834" r="3.5"/>
				<circle cx="247.334" cy="327.202" r="3.5"/>
				<circle cx="221.799" cy="420.252" r="3.5"/>
				<circle cx="271.917" cy="455.334" r="3.5"/>
				<circle cx="179.75" cy="377.603" r="3.5"/>
				<circle cx="275.417" cy="393.918" r="3.5"/>
				<circle cx="320.834" cy="401.501" r="3.5"/>
				<circle cx="315.685" cy="422.853" r="3.5"/>
				<circle cx="279.042" cy="434" r="3.5"/>
				<circle cx="360" cy="449.5" r="3.5"/>
				<circle cx="464.734" cy="450.307" r="3.5"/>
				<circle cx="437.826" cy="440.473" r="3.5"/>
				<circle cx="457.244" cy="394.501" r="3.5"/>
				<circle cx="424.74" cy="468.083" r="3.5"/>
				<circle cx="397.818" cy="470.333" r="3.5"/>
				<circle cx="496.584" cy="428.75" r="3.5"/>
				<circle cx="335" cy="464.583" r="3.5"/>
				<circle cx="226.5" cy="399.251" r="3.5"/>
				<circle cx="128.833" cy="285.39" r="3.5"/>
				<circle cx="140.5" cy="311.668" r="3.5"/>
				<circle cx="167.5" cy="269" r="3.5"/>
				<circle cx="213.583" cy="308.168" r="3.5"/>
				<circle cx="213.583" cy="350.334" r="3.5"/>
				<circle cx="259.25" cy="243.862" r="3.5"/>
				<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="227.09" y1="308.168" x2="215.25" y2="308.168"/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="238.25,304.736 214.75,281 182.25,281 177.75,285.39 
					130.75,285.39 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="188.25,281 180,269 168.833,269 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="172.333,285.39 146.056,311.668 138.75,311.668 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="293.126,277.425 284.117,286.434 255.75,286.434 "/>
				<circle cx="255.75" cy="286.434" r="2.75"/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="282.667,304.736 260.202,327.202 247.334,327.202 "/>
				<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="304.334" y1="336.335" x2="221.799" y2="418.87"/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="282.667,358.002 282.667,386.668 275.417,393.918 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="207.628,327.202 221.799,341.372 213.21,349.961 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="269.084,371.584 186.25,371.584 178.542,379.292 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="252.167,388.585 237.166,388.585 226.5,399.251 "/>
				<polyline fill="none" stroke="#000000" stroke-width="1.04" stroke-miterlimit="10" points="281.7,434 400,434 400,404.139 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="273.917,455.334 299.5,455.334 320.834,434 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="365.25,434 333.375,402.125 320.834,402.125 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="394.25,434 378.75,449.5 360,449.5 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="376.417,449.5 361.333,464.583 336.166,464.583 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="340.85,434 329.702,422.853 315.685,422.853 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="464.734,450.307 457.486,443.059 457.486,394.397 
					444.753,381.664 444.753,369.014 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="457.486,416.833 484.667,416.833 496.584,428.75 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="457.486,406.332 437.826,425.992 437.826,437.665 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="384.277,443.973 397.818,457.514 397.818,470.333 "/>
				<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="400,422.853 424.74,447.592 424.74,469.166 "/>
				<circle fill="none" stroke="#000000" stroke-width="1.0974" stroke-miterlimit="10" cx="379.45" cy="331.868" r="75.116"/>
			</svg>
			
		</div>
		<div id="right-block">
			<div class="intro">
				<p class="first">Creating delightful experiences is our passion.</p> 
				<p>Technology and Design are our tools.
				<p>The Web is our medium.</p>
				
				<div class="main-title">
					<span>We're</span>
					<h1>Hash Cookies</h1>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container intro-container">
	<div class="row text-center">
		<svg width="300px" height="1px" viewBox="0 0 300 1"  data-0="width: 0px;" data-500="width: 300px;" version="1.1">	
		        <path d="M0.5,1 L300,1" id="Line" stroke="#E7EC41" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
		</svg>
	</div>
	<div class="row titles">
		<div class="col-md-12 text-center">
			<h2>Our Design Work</h2>
			<p class="lead">We embrace the modern web as an expressive platform to connect with people.</p>
		</div>

		<div id="intro-screenshots">
		
			<div id="scr-aether" class="screenshot"  data-center-top="transform:scale(1)" data-top-bottom="transform:scale(.8)">
				<img src="/images/scr-aether.jpg" alt=""  />
			</div>
			
			
			<div id="scr-ggw" class="screenshot"  data-center-top="transform:translateX(0px);" data-top-bottom="transform:translateX(-550px);">
				<img src="/images/scr-ggw.jpg" alt="" />
			</div>
			
			
			<div id="scr-nitido" class="screenshot"  data-center-top="transform:translateX(0px) ;" data-top-bottom="transform:translateX(550px);">
				<img src="/images/scr-nit.jpg" alt="" />
			</div>
			
			
		</div>
	</div>
</div>
<div class="white-container full-container" id="proj-chand">
	<div class="container">
		<div class="row section">
			<div class="col-md-12 text-center">
				<h5>Clean. Minimal. Content-first.</h5>
				<p class="lead">We love to use content as navigation, whitespace as user interface, art as communication;<br /> leaving none of our own footprints in our clients’ work.</p>
			</div>
		</div>
	</div>
	<div class="screenshot-wrap">
		<svg version="1.1" height="530">
			<g id="cg-frame" class="browser-frame" sketch:type="MSShapeGroup" transform="translate(0.5,0.5)">
			    <rect class="long-path main-frame" x="0" y="0" width="95%" rx="5"></rect>
			    <line class="browser-line long-path" y2="50" x2="95%" y1="50" x1="0" stroke-width="5" stroke="#000000" fill="none" />
			    <circle class="short-path" cx="22" cy="23" r="6"></circle>
			    <circle class="short-path" cx="40" cy="23" r="6"></circle>
			    <circle class="short-path" cx="60" cy="23" r="6"></circle>
			    <rect class="long-path address-bar" x="77" y="13" width="85%" height="20" rx="3"></rect>
			    <text x="86" y="26" class="address-path short-path">Chandana Gupta</text>
			    <img src="/images/scr-cg.jpg" class="screenshot" alt="" id="scr-cg" />
			</g>
		</svg>
		<div class="project-info">
			<h6 class="project-title">Chandana Gupta</h6>
			<p class="project-desc">Wordpress powered responsive layout</p>
		</div>
	</div>
</div>

<div class="full-container" id="proj-goaprop">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h4>Product Before Technology. <span>Always.</span></h4>
				<p class="lead">Every project starts from ground zero: what is the goal and how best we achieve it? If we have to build an entire platform to support it, we’ll do it. We’ve done it.</p>
			</div>
			
			<div class="col-md-3 project-info text-right pull-right">
				<h6 class="project-title">Goa Property Co</h6>
				<p class="project-desc">Custom CMS based on Sinatra Ruby and Responsive design principles</p>
			</div>
		</div>
		<div class="row">
			<div class="screenshot-wrap">
				<svg version="1.1" height="680">
					<g id="gpc-frame" class="browser-frame" sketch:type="MSShapeGroup" transform="translate(0.5,0.5)">
					    <rect class="long-path main-frame" x="0" y="0" width="95%" rx="5"></rect>
					    <line class="browser-line long-path" y2="50" x2="95%" y1="50" x1="0" stroke-width="5" stroke="#000000" fill="none" />
					    <circle class="short-path" cx="22" cy="23" r="6"></circle>
					    <circle class="short-path" cx="40" cy="23" r="6"></circle>
					    <circle class="short-path" cx="60" cy="23" r="6"></circle>
					    <rect class="long-path address-bar" x="77" y="13" width="85%" height="20" rx="3"></rect>
					    <text x="86" y="26" class="address-path short-path">GoaPropertyCo.com</text>
					    <img src="/images/scr-gpc.jpg" class="screenshot" alt="" id="scr-gpc" />
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>

<div class="full-container" id="proj-arev">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
			 	<p class="lead">Unique hand crafted designs that start at a drawing board, not a theme site. This can even extend to the micro level, because even the same story can have more than one theme.</p>
			</div>
			
			<div class="clearfix"></div>
			
			<div class="col-md-12 screenshot-wrap">
				<svg version="1.1"  id="arev-frame">
					<g class="browser-frame" sketch:type="MSShapeGroup" transform="translate(0.5,0.5)">
					   <rect class="long-path main-frame" x="0" y="0" width="95%" rx="5"></rect>
					   <line class="browser-line long-path" y2="50" x2="95%" y1="50" x1="0" stroke-width="5" stroke="#000000" fill="none" />
					   <circle class="short-path" cx="22" cy="23" r="6"></circle>
					   <circle class="short-path" cx="40" cy="23" r="6"></circle>
					   <circle class="short-path" cx="60" cy="23" r="6"></circle>
					   <rect class="long-path address-bar" x="77" y="13" width="85%" height="20" rx="3"></rect>
					   <text x="86" y="26" class="address-path short-path">a Reverie</text>
					</g>
				</svg>
				<div id="arev-iphone-frame-wrap"  data-bottom-top="transform:translateY(30px)" data-top-bottom="transform:translateY(-30px)">
					<svg version="1.1" id="arev-frame-iphone">
						<g sketch:type="MSLayerGroup" stroke="#4990E2">
						    <rect class="long-path" id="iphone-frame" fill="#FFFFFF" sketch:type="MSShapeGroup" x="0" y="0" width="258" height="518" rx="15"></rect>
						    <!--<rect class="long-path" id="Rectangle-4" fill="#FFFFFF" sketch:type="MSShapeGroup" x="15" y="52" width="228" height="403" rx="3"></rect>-->
						    <circle class="long-path" id="Oval-4" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="128" cy="484" r="20.5"></circle>
						    <rect class="long-path" id="Rectangle-5" fill="#FFFFFF" sketch:type="MSShapeGroup" x="106" y="26" width="51" height="10" rx="3"></rect>
						    <path class="long-path" fill="#FFFFFF" d="M96,36 C98.7614237,36 101,33.7614237 101,31 C101,28.2385763 98.7614237,26 96,26 C93.2385763,26 91,28.2385763 91,31 C91,33.7614237 93.2385763,36 96,36 Z" id="Oval-5" sketch:type="MSShapeGroup"></path>
						    
						</g>
					</svg>
					<img src="/images/scr-arev-iphone.jpg" alt="" class="screenshot" id="scr-arev-iphone" />
				</div>
				<img src="/images/scr-arev.jpg" class="screenshot" alt="" id="scr-arev" />
			</div>
			<div class="col-md-8">
				<div class="project-info">
					<h6 class="project-title">a Reverie</h6>
					<p class="project-desc">Hand crafted pages, served with PHP.</p>
				</div>
			</div>
		 </div>		
	</div>
</div>

<div class="full-container" id="proj-palma">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			 	<h5>Design is <span>Iteration</span></h5>
			 	<p class="lead">Our work goes beyond placing pixels on a screen. We design, and then redesign, all the while visualising an experience that fits the message (and not the other way around).</p>
			</div>
			<div class="col-md-3 project-info text-right pull-right">
				<h6 class="project-title">Palmarinha Holidays</h6>
				<p class="project-desc">Lush visuals in a spacious layout. Built with Bootstrap on Sinatra Ruby.</p>
			</div>
			<div class="col-md-12 screenshot-wrap">
				<svg version="1.1" height="650">
					<g id="palm-frame" class="browser-frame" sketch:type="MSShapeGroup" transform="translate(0.5,0.5)">
					   <rect class="long-path main-frame" x="0" y="0" width="95%" rx="5"></rect>
					   <line class="browser-line long-path" y2="50" x2="95%" y1="50" x1="0" stroke-width="5" stroke="#000000" fill="none" />
					   <circle class="short-path" cx="22" cy="23" r="6"></circle>
					   <circle class="short-path" cx="40" cy="23" r="6"></circle>
					   <circle class="short-path" cx="60" cy="23" r="6"></circle>
					   <rect class="long-path address-bar" x="77" y="13" width="85%" height="20" rx="3"></rect>
					   <text x="86" y="26" class="address-path short-path">Palmarinha Holidays</text>
					   <img src="/images/scr-palmarinha.jpg" alt="" id="scr-palmarinha" class="screenshot" />
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>


<div class="full-container">
	<div class="container">
		<div class="row" id="proj-invoices">
			<div class="col-md-6">
				<p class="lead">HTML5, CSS3, Ruby on Rails, jQuery, AJAX, Node.js, MySQL, Python, PHP, Sinatra, Laravel… Technology is a never ending endeavour, but meaningless without application.</p> 
				<p class="lead">It’s <em>"what it is"</em> what drives us.</p>
			</div>
			<div class="col-md-6">
				<img src="images/invoices.png" alt="" />
			</div>
			<div class="col-md-3 project-info">
				<h6 class="project-title">#Invoices App</h6>
				<p class="project-desc">A Hash Cookies production, based on Ruby on Rails. Currently in private beta.</p>
			</div>
		</div>
	</div>
</div>

<div class="container" id="home-footer">
	<div class="row">
		<div class="col-md-12">
			<h3>We're always looking to new challenges.</h3>
		</div>
	</div>
</div>