<div class="cover">
	<div class="intro">
		<p class="first">Creating delightful experiences is our passion.</p> 
		<p>Technology and Design are our tools.
		<p>The Web is our medium.</p>
	</div>
	<div class="hero">
		<div id="left-block">
			<img src="/images/hc-cup.png" alt="Cup made of icons representing the work Hash Cookies do" id="hc-cup" />
		</div>
		<div id="right-block">
			<h1 id="main-title"><span>We're</span> Hash Cookies.</h1>
			<ul class="home-nav">
				<li><a href="#">Our Work</a></li>
				<li><a href="/design-services">Design Services</a></li>
				<li><a href="/contact">#Team</a></li>        
				<li><a href="/contact">Contact</a></li>        
			</ul>
		</div>
	</div>
</div>