<div class="cover">
	<div class="intro">
		<h3>Creating delightful experiences is our passion.<br /> Technology and design are our tools.<br /> The web is our medium.</h3>
		<h1><span>We're</span> Hash Cookies.</h1>
	</div>
</div>

<div class="main-content" id="start">
	<div class="container">
		
		<div class="row section">
			<ul class="col-md-8 col-md-offset-2  first-block  story-block">
				<li>
					<p class="col-md-10 col-md-offset-1 text-center">We embrace the modern web as an expressive platform to connect with people.</p>
					<img src="images/rhodius-scr.jpg" alt="Rhodius" />
<!--					<h4 class="project-title">Rhodius Ltd</h4>
					<span class="linkout"><a href="#">Visit website</a></span>-->
				</li>
			</ul>
		</div>		
	</div>
</div>

<div class="section story-block responsive-block">
	<div class="container">
		<div class="col-md-8 col-md-offset-2 clearfix text-center block-copy">
<<<<<<< HEAD
			<p>A modern web that is <span>responsive, visual, minimal</span></p>
=======
			<p class="ticker-intro">A modern web that is</p>
			<ul id="ticker">
				<li>visual</li>
				<li>minimal</li>
				<li>responsive</li>
			</ul>
>>>>>>> test-vticker
		</div>
		<div class="col-md-12">
			<ul id="responsive-slides">
				<li><img src="images/responsive1.jpg" alt="" /></li>
<<<<<<< HEAD
				<li><img src="images/responsive1.jpg" alt="" /></li>
=======
				<li><img src="images/responsive2.jpg" alt="" /></li>
				<li><img src="images/responsive3.jpg" alt="" /></li>
>>>>>>> test-vticker
			</ul>
		</div>
	</div>
</div>

<<<<<<< HEAD
=======
<div class="section story-block design-block">
	<div class="container">
		<div class="col-md-10 col-md-offset-1 text-center">
			<p>Design is not an end goal, but a means to simplify communication.</p>
			<p class="smalltext col-md-8 col-md-offset-2">Ours is an endeavour of not just placing pixels on a screen, but helping clients understand what they want to say. We write, we rewrite, and then visualise an experience that fits the message (and not the other way around).</p>
		</div>
		<div class="col-md-12 text-center">
			<img src="images/design-block.jpg" alt="" />
		</div>
	</div>
</div>

>>>>>>> test-vticker
<div class="section story-block invoices-block">
	<div class="col-md-4">
		<p>HTML5, CSS3, Ruby on Rails, jQuery, AJAX, Node.js, MySQL, Python, PHP, Sinatra, Laravel… technology is a never ending endeavour, but meaningless without application.</p> 
		<p>It’s what it <em>is</em> that drives us.</p>
	</div>
	<div class="col-md-8">
		<img src="images/invoices.png" alt="" />
		<div class="meta-block">
			<h4 class="project-title">#Invoices App</h4>
			<span class="linkout"><a href="#">Visit website</a></span>
		</div>
	</div>
</div>

<div class="main-content">

</div>