<div class="cover">
				<div class="intro">
					<p class="first">Creating delightful experiences is our passion.</p> 
					<p>Technology and Design are our tools.
					<p>The Web is our medium.</p>
					
					<div class="main-title">
						<!--<span>We're</span>-->
						<h1><span>We're</span> Hash Cookies</h1>
					</div>
				</div>
		<div class="hero">
		<%= erb :svg %>
	</div>
</div><!--

<div class="nav-wrap">
	<ul class="nav">
		<li><a href="/portfolio">Our Work</a></li>
		<li><a href="/design-services">Design Services</a></li>
		<li><a href="/contact">#Team</a></li>        
		<li><a href="/contact">Contact</a></li>        
	</ul>
</div>-->

<%= erb :work %>

<%= erb :services %>

<%= erb :footer %>