<!DOCTYPE html>
<html>
  <head>
  	<title>Sinatra + Twitter Bootstrap</title>
    <script src="/vendor/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">
              Sinatra + Twitter Bootstrap
            </a>

            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/secure/place">Secret</a></li>
            </ul>

            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      <%=username%>
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                      <li><a href="/login/form">Login</a></li>
                      <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>


        </div>
      </div>
    </div>


	<div class="container">
		<%if @error then %>
			<div class="alert alert-error"><%=@error%></div>
		<% end %>
    	<%= yield %>
	</div>
  </body>
</html>