<div id="navigation">
	<div id="nav-title">
		<a href="#" id="menu-btn">
			<span class="menubar"></span>
			<span class="menubar"></span>
			<span class="menubar"></span>
		</a>
	</div>
	<a href="#" id="contact-btn">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="32px" height="32px" viewBox="0 0 32 32" version="1.1"><title>Contact Icon</title><desc>Created with Sketch.</desc><defs/><g sketch:type="MSPage" class="style0"><path d="M0 0 L0 32 L32 32 L32 0 L0 0 Z M11.4097059 7 C12.2365809 8.6 13.1 10.2 13.9 11.8 C13.3447059 12.5 12.7 13.2 12.3 14.1 C13.4347059 17.4 16.4 19.9 19.4 21.4 C20.1565809 20.7 20.9 20.1 21.6 19.4 C23.1547059 20.3 24.7 21.3 26.3 22.2 C25.0109559 23.4 23.9 24.9 22.4 25.8 C17.9234559 25.3 14.3 22.1 11.5 18.8 C9.67720585 16.5 7.9 13.7 8 10.6 C8.91220585 9.2 10.2 8.1 11.4 7 Z" sketch:type="MSShapeGroup" class="style1"/></g></svg>
	</a>
	<ul id="nav-items">
		<li><a href="#">Our Work</a></li>
		<li><a href="#">Design Services</a></li>
		<li><a href="#">Behind the Scenes</a></li>
		<li><a href="#">Request Quote</a></li>
	</ul>
</div>