<div id="navigation">
	<div id="nav-title">
		<a href="#" id="menu-btn">
			<span class="menubar"></span>
			<span class="menubar"></span>
			<span class="menubar"></span>
		</a>
	</div>
	<a href="#" id="contact-btn">
		<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <!-- Generator: Sketch 3.0.4 (8054) - http://www.bohemiancoding.com/sketch -->
		    <title>Rectangle 1</title>
		    <desc>Created with Sketch.</desc>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <path d="M0,0 L0,32 L32,32 L32,0 L0,0 Z M10.599134,7 C11.4719465,8.66666667 12.3388215,10.3454545 13.223509,12.0121212 C12.641634,12.8 11.988509,13.5454545 11.537259,14.430303 C12.736634,17.9818182 15.824134,20.5878788 19.066009,22.1818182 C19.8319465,21.4606061 20.6038215,20.7515152 21.369759,20.0363636 C22.996634,21.0242424 24.635384,22.0060606 26.2800715,22.9757576 C24.956009,24.2666667 23.804134,25.8121212 22.1831965,26.7393939 C17.474759,26.2545455 13.651009,22.9090909 10.6763215,19.3939394 C8.77038396,16.9575758 6.87038396,14.0606061 7.00694646,10.8121212 C7.96288396,9.32727273 9.33444646,8.2 10.599134,7 Z" id="Rectangle-1" fill="#45A7C2" sketch:type="MSShapeGroup"></path>
		    </g>
		</svg>
	</a>
	<ul id="nav-items">
		<li><a href="#">Our Work</a></li>
		<li><a href="#">Design Services</a></li>
		<li><a href="#">Behind the Scenes</a></li>
		<li><a href="#">Request Quote</a></li>
	</ul>
</div>