
<div class="container services-wrap">
	<div class="intro-section">
			<h2 id="services-title" class="page-title">Design Services</h3>
	</div>
	
	<div class="row section services-block" id="services-block-1">
		<div class="col-md-6">
			<svg id="browser-frames" height="400">
			
				<g id="Group-+-iphone" sketch:type="MSLayerGroup" stroke="#4990E2" transform="translate(0.5,0.5)">
				    <g id="Group-+-iphone" sketch:type="MSLayerGroup" transform="translate(1.000000, 0.000000)" stroke="#4990E2">
				        <g id="Group" sketch:type="MSShapeGroup">
				            <rect class="long-path" id="Rectangle-1" x="0" y="0" width="550" height="357" rx="3"></rect>
				            <path class="long-path" d="M0.370445344,43 L548.629555,43" id="Line" stroke-linecap="square"></path>
				            <circle class="short-path" id="Oval-1" cx="22" cy="23" r="6"></circle>
				            <circle class="short-path" id="Oval-2" cx="40" cy="23" r="6"></circle>
				            <circle class="short-path" id="Oval-3" cx="60" cy="23" r="6"></circle>
				            <rect class="long-path" id="Rectangle-2" x="77" y="13" width="457" height="20" rx="3"></rect>
				        </g>
				        <g id="iphone" transform="translate(365.000000, 88.000000)" sketch:type="MSShapeGroup"  data-bottom-top="transform:translateY(100px) translateX(365px)" data-top-bottom="transform:translateY(78px) translateX(365px)">
				            <rect class="long-path bg-fill" id="Rectangle-3" fill="#1A3F4A" x="0" y="0" width="158" height="288" rx="15"></rect>
				            <rect class="long-path" id="Rectangle-4" x="9" y="34" width="140" height="218" rx="3"></rect>
				            <circle class="short-path" id="Oval-4" cx="78.5" cy="269.5" r="12.5"></circle>
				            <rect class="short-path" id="Rectangle-5" x="65" y="16" width="31" height="6" rx="3"></rect>
				            <path class="short-path" d="M59,22 C60.6568542,22 62,20.6568542 62,19 C62,17.3431458 60.6568542,16 59,16 C57.3431458,16 56,17.3431458 56,19 C56,20.6568542 57.3431458,22 59,22 Z" id="Oval-5"></path>
				        </g>
				    </g>
				</g>
			</svg>
		</div>
		<div class="col-md-6">
			<h3>Web Design <span class="amp">&amp;</span> Development</h3>
			<p class="lead">Our simplest definition is the production of websites. Proficient in the arts of not just design and information architecture, but writing code for various platforms, including content management systems, e-commerce platforms, visually interactive static portfolio designs, or even convert PSD renders to browser code.</p>
		</div>
		<div class="clearfix"></div>
		<div class="col-sm-4">
			<h4>Clean Code</h4>
			<p>Semantic, correctly indented lines of commented code, and secure well-tested libraries make our projects a breeze to manage, not just for us, but for any web that the project might transition to. Our clients stay with us because they want to, not because they have to.</p>
		</div>
		
		<div class="col-sm-4">
			<h4>Responsible Design</h4>
			<p>It’s not just responsive web design that’s on our mind; we want to be responsible for what we create. We always verify content sources so as to not infringe on anyone’s copyright, license it where possible, as well as support the open source community for its contributions.</p>
		</div>
		
		<div class="col-sm-4">
			<h4>Accessibility first</h4>
			<p>The information age is for everyone, and no one should be left behind. We configure and test our sites as best we can to ensure efficient navigation on screen readers and other assistive devices. This process is not billed to our clients and is not optional.</p>
		</div>
		
		
	</div>		
	<div class="row section services-block" id="services-block-2">
		<div class="col-md-6">
			<h3>Branding <span class="amp">&amp;</span> Social Media</h3>
			<p class="lead">An online presence requires more than just a website. If a project requires it, we design logos, create web copy, build brand awareness over social media and even educate our clients while suggesting healthy methods of generating traffic to help them reach their customers.</p>
		</div>
		<div class="col-md-6">
			<img src="/images/social.png" alt="" />
		</div>
	</div>
	<div class="row section request-quote-block">
		<div class="col-md-8 col-md-offset-2 text-center">
			<h3>"How much does it cost?"</h3>
			<p class="lead">The variable nature of each project makes it difficult to give a quote without knowing at least a little about the project. Give us a hint and we'll get back to you with a free consultation.</p>
		</div>
		
		<div class="clearfix"></div>
		<div class="col-md-4">
			<div class="request-block selected">
				<h4>Portfolio Site</h4>
				<p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis.</p>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="request-block">
				<h4>E-Commerce Platform</h4>
				<p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis.</p>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="request-block">
				<h4>Something Bigger</h4>
				<p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis.</p>
			</div>
		</div>
		
		<div class="col-md-8 col-md-offset-2 text-center" id="cta">
			<button class="btn btn-primary" data-toggle="modal" data-target="#request-quote">Request Quote</button>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" id="request-quote" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
         <div class="modal-header">
           <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
           <div class="form-group">
	           <label for="name" class="label">Name</label>
	           <input type="text" name="name" value="" class="form-control" />
           </div>
           <div class="form-group">
           		<label class="label" for="email">Email and/or Phone</label>
	           <input type="text" name="email" value=""class="form-control" />
           </div>
           <button type="button" class="btn btn-primary pull-right">Send Request</button>
         </div>
         <div class="modal-body">
           Test
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

         </div>
       </div>
  </div>
</div>