<div id="services-wrap">
	<div class="container">
		<div class="intro-section">
				<h2 id="services-title" class="page-title">Design Services</h2>
		</div>
		
		<div class="row section services-block" id="services-block-1">
			<div class="col-md-6">
				<svg id="browser-frames" height="400">
				
					<g id="Group-+-iphone" sketch:type="MSLayerGroup" stroke="#4990E2" transform="translate(0.5,0.5)">
					    <g id="Group-+-iphone" sketch:type="MSLayerGroup" transform="translate(1.000000, 0.000000)" stroke="#4990E2">
					        <g id="Group" sketch:type="MSShapeGroup">
					            <rect class="long-path" id="Rectangle-1" x="0" y="0" width="550" height="357" rx="3"></rect>
					            <path class="long-path" d="M0.370445344,43 L548.629555,43" id="Line" stroke-linecap="square"></path>
					            <circle class="short-path" id="Oval-1" cx="22" cy="23" r="6"></circle>
					            <circle class="short-path" id="Oval-2" cx="40" cy="23" r="6"></circle>
					            <circle class="short-path" id="Oval-3" cx="60" cy="23" r="6"></circle>
					            <rect class="long-path" id="Rectangle-2" x="77" y="13" width="457" height="20" rx="3"></rect>
					        </g>
					        <g id="iphone" transform="translate(365.000000, 88.000000)" sketch:type="MSShapeGroup"  data-bottom-top="transform:translateY(100px) translateX(365px)" data-top-bottom="transform:translateY(78px) translateX(365px)">
					            <rect class="long-path bg-fill" id="Rectangle-3" fill="#1A3F4A" x="0" y="0" width="158" height="288" rx="15"></rect>
					            <rect class="long-path" id="Rectangle-4" x="9" y="34" width="140" height="218" rx="3"></rect>
					            <circle class="short-path" id="Oval-4" cx="78.5" cy="269.5" r="12.5"></circle>
					            <rect class="short-path" id="Rectangle-5" x="65" y="16" width="31" height="6" rx="3"></rect>
					            <path class="short-path" d="M59,22 C60.6568542,22 62,20.6568542 62,19 C62,17.3431458 60.6568542,16 59,16 C57.3431458,16 56,17.3431458 56,19 C56,20.6568542 57.3431458,22 59,22 Z" id="Oval-5"></path>
					        </g>
					    </g>
					</g>
				</svg>
			</div>
			<div class="col-md-6">
				<h3>Web Design <span class="amp">&amp;</span> Development</h3>
				<p class="lead">Our simplest definition is the production of websites. Proficient in the arts of not just design and information architecture, but writing code for various platforms, including content management systems, e-commerce platforms, visually interactive static portfolio designs, or even convert PSD renders to browser code.</p>
				<p><button class="btn btn-large btn-primary">Request a quote</button></p>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-4">
				<h4>Clean Code</h4>
				<p>Semantic, correctly indented lines of commented code, and secure well-tested libraries make our projects a breeze to manage, not just for us, but for any web developer that the project might transition to. Our clients stay with us because they want to, not because they have to.</p>
			</div>
			
			<div class="col-sm-4">
				<h4>Responsible Design</h4>
				<p>It’s not just responsive web design that’s on our mind; we want to be responsible for what we create. We always verify content sources so as to not infringe on anyone’s copyright, license it where possible, as well as support the open source community for its contributions.</p>
			</div>
			
			<div class="col-sm-4">
				<h4>Accessibility first</h4>
				<p>The information age is for everyone, and no one should be left behind. We configure and test our sites as best we can to ensure efficient navigation on screen readers and other assistive devices. This process is not billed to our clients and is not optional.</p>
			</div>
			
			
		</div>		
		<hr />
		<div class="row section services-block" id="services-block-2">
			<div class="col-md-4">
				<h3>Branding <span class="amp">&amp;</span> Social Media</h3>
				<p class="lead">An online presence requires more than just a website. If a project requires it, we design logos, create web copy, build brand awareness over social media and even educate our clients while suggesting healthy methods of generating traffic to help them reach their customers.</p>
			</div>
			<div class="col-md-8">
				
				
				<svg width="780px" height="446px" viewBox="0 0 680 416" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" id="social-web">
				            <g id="social-web-lines" transform="translate(79.000000, 60.000000)" stroke="#EF505A" stroke-linecap="square" sketch:type="MSShapeGroup">
				                <path d="M109.5,51.5 L124.5,125.5" id="Line"></path>
				                <path d="M123.5,203.5 L94.5,265.5" id="Line"></path>
				                <path d="M263.5,173.5 L194.5,173.5" id="Line"></path>
				                <path d="M7.5,175.5 L82.5,266.5" id="Line"></path>
				                <path d="M13.5,148.5 L102.5,160.5" id="Line"></path>
				                <path d="M62.5,56.5 L0.5,116.5" id="Line"></path>
				                <path d="M146.5,28.5 L505.5,52.5" id="Line"></path>
				                <path d="M530.5,97.5 L492.5,200.5" id="Line"></path>
				                <path d="M342.5,156.5 L513.5,80.5" id="Line"></path>
				                <path d="M345.5,198.5 L431.5,227.5" id="Line"></path>
				                <path d="M149.5,292.5 L267.5,208.5" id="Line"></path>
				                <path d="M341.5,31.5 L311.5,135.5" id="Line"></path>
				                <path d="M392.5,0.5 L514.5,29.5" id="Line"></path>
				                <path d="M373.5,26.5 L455.5,202.5" id="Line"></path>
				                <path d="M313.5,14.5 L182.5,132.5" id="Line"></path>
				            </g>
				            <g id="social-web-circles" stroke="#EF505A" fill="#1b3f4b" sketch:type="MSShapeGroup">
				                <circle id="Oval-1" cx="179.5" cy="93.5" r="46.5"></circle>
				                <circle id="Oval-2" cx="428.5" cy="46.5" r="46.5"></circle>
				                <circle id="Oval-7" cx="46.5" cy="210.5" r="46.5"></circle>
				                <circle id="Oval-4" cx="631.5" cy="117.5" r="46.5"></circle>
				                <circle id="Oval-5" cx="552.5" cy="303.5" r="46.5"></circle>
				                <circle id="Oval-6" cx="185.5" cy="367.5" r="46.5"></circle>
				                <circle id="Oval-2" cx="227.5" cy="225.5" r="46.5"></circle>
				                <circle id="Oval-3" cx="381.5" cy="240.5" r="46.5"></circle>
				            </g>
				            <g id="social-web-icons" transform="translate(22.000000, 25.000000)" fill="#EF505A" sketch:type="MSShapeGroup">
				                <path d="M181.473914,201.240661 C176.173914,194.116451 179.757724,182.343819 188.717248,180.449082 C195.380105,178.326977 200.503438,184.238556 205.576295,187.47224 C210.42201,184.491188 215.015343,178.958556 221.299629,180.246977 C230.587248,181.080661 235.054391,192.878556 230.233914,200.305925 C223.747724,210.58803 213.778676,217.990135 205.752962,227.009082 C197.70201,218.369082 188.2882,210.941714 181.473914,201.240661 L181.473914,201.240661 Z" id="Shape"></path>
				                <path d="M523.576084,258.230129 C527.719614,254.934197 533.331379,253.126062 538.554908,254.421655 C543.545496,255.475214 548.147849,258.657248 550.597261,263.220299 C552.277261,266.146062 552.898437,269.534536 553.053732,272.880299 C557.049026,275.094197 560.303143,279.201655 560.183143,283.985384 C560.197261,290.24979 554.627849,295.702672 548.479614,295.780977 C536.705496,295.773858 524.92432,295.766739 513.150202,295.780977 C510.510202,295.837926 507.877261,295.175892 505.653732,293.730807 C500.832555,290.812163 498.496084,284.063689 501.04432,278.888434 C501.954908,276.503689 504.016084,274.930468 505.583143,273.022672 C505.872555,271.093519 505.526673,269.007756 506.479614,267.220977 C508.074908,263.811146 512.345496,261.526062 515.966673,262.914197 C516.933732,263.206062 517.872555,263.611824 518.867849,263.853858 C520.42079,261.967417 521.62079,259.753519 523.576084,258.230129 L523.576084,258.230129 Z" id="Shape"></path>
				                <path d="M170.387875,43 C174.033375,46.6469375 177.645812,50.2608125 181.320062,53.933625 C180.811187,54.42525 180.266375,54.937 179.7345,55.466 C170.6035,64.59125 161.479687,73.719375 152.342937,82.8374375 C152.147437,83.0329375 151.851312,83.1594375 151.581062,83.247125 C146.59725,84.874375 141.609125,86.490125 136.623875,88.10875 C136.441313,88.1676875 136.260187,88.2223125 136,88.301375 C136.0575,88.088625 136.093438,87.92475 136.146625,87.7651875 C137.518,83.551875 138.889375,79.34 140.262188,75.1266875 C140.495063,74.4108125 140.759563,73.702125 140.953625,72.9761875 C141.101687,72.4270625 141.382,72.0015625 141.781625,71.6048125 C150.666813,62.7354375 159.5405,53.858875 168.417063,44.9823125 C169.084062,44.31675 169.748187,43.646875 170.387875,43 L170.387875,43 Z M150.605,80.9155 C148.185687,78.491875 145.785062,76.0869375 143.383,73.679125 C142.240187,77.19525 141.083,80.7545 139.901375,84.3956875 C143.548312,83.2111875 147.107562,82.0525625 150.605,80.9155 L150.605,80.9155 Z" id="Shape"></path>
				                <path d="M163.581879,357.829658 C155.990165,357.829658 148.396993,357.833978 140.803822,357.829658 C138.262565,357.826778 138.039622,357.619418 138.036708,355.236218 C138.030879,346.447898 138.078965,337.659578 138.000279,328.872698 C137.982793,326.881178 138.785679,326.230298 140.672679,326.286458 C143.270765,326.362778 145.873222,326.243258 148.469851,326.331098 C149.744851,326.375738 150.547736,326.004218 150.951365,324.783098 C151.679936,322.574138 153.255108,321.943418 155.551565,322.003898 C161.020222,322.143578 166.496165,322.117658 171.966279,322.012538 C174.010651,321.973658 175.453222,322.564058 176.113308,324.516698 C176.602908,325.961018 177.523822,326.414618 179.046536,326.341178 C181.640251,326.215898 184.245622,326.346938 186.843708,326.296538 C188.596651,326.261978 189.285879,327.042458 189.277136,328.747418 C189.243622,337.669658 189.246536,346.593338 189.275679,355.515578 C189.281508,357.265178 188.504851,357.868538 186.769393,357.855578 C179.040708,357.797978 171.310565,357.829658 163.581879,357.829658 L163.581879,357.829658 Z M163.507565,330.939098 C157.365708,330.959258 152.458051,335.855258 152.482822,341.939258 C152.509051,347.997338 157.473536,352.853018 163.627051,352.834298 C169.757251,352.817018 174.664908,347.908058 174.641593,341.822618 C174.615365,335.741498 169.685851,330.921818 163.507565,330.939098 L163.507565,330.939098 Z" id="Shape"></path>
				                <path d="M612.680584,114.837624 C611.859885,114.678923 611.0328,114.539265 610.221681,114.342476 C603.451716,112.660242 598.137932,106.772424 597.234206,99.945094 C596.627464,95.2856239 597.671699,91.019733 600.427586,87.1855096 C600.475486,87.115681 600.52658,87.0458525 600.635155,86.8871512 C600.226403,86.4237434 599.801683,85.9476395 599.386544,85.4524914 C596.081396,81.5103512 592.773054,77.5682109 589.467906,73.6260707 C587.804155,71.6391304 588.238455,68.7317226 590.365246,67.5287668 C591.993869,66.6051252 594.197302,67.0431408 595.487427,68.5888914 C598.585005,72.2802836 601.676197,75.9685018 604.767389,79.6694161 C605.386904,80.4026161 605.99684,81.1675564 606.558875,81.853146 C607.791519,81.4151304 608.912396,80.9390265 610.077979,80.63432 C613.900455,79.6281538 617.678223,79.8312914 621.325063,81.370694 C626.705908,83.6464707 630.173918,87.6520914 631.630099,93.2605953 C633.479066,100.405328 630.483676,107.927769 624.288519,111.987349 C621.13346,114.059988 617.659063,115.021717 613.881295,114.875712 C613.721626,114.872538 613.561957,114.891582 613.399094,114.89793 C613.159591,114.878886 612.923281,114.859842 612.680584,114.837624 L612.680584,114.837624 Z M613.718432,107.112045 C619.06415,107.607193 623.857413,103.630138 624.346,98.3199927 C624.831394,93.0320655 620.855636,88.2995927 615.497145,87.8076187 C610.151427,87.3251668 605.383711,91.2450888 604.866383,96.5457122 C604.355443,101.820943 608.382295,106.629593 613.718432,107.112045 L613.718432,107.112045 Z" id="Shape" transform="translate(610.805195, 90.853659) scale(-1, 1) rotate(-90.000000) translate(-610.805195, -90.853659) "></path>
				                <g id="Group" transform="translate(335.000000, 194.000000)">
				                    <path d="M12.1582377,0.298071429 C12.3361217,0.723357143 12.5364754,1.14121429 12.6900174,1.57392857 C14.8414783,7.6375 16.9891942,13.7010714 19.1331652,19.7665 C19.1930841,19.9373571 19.2398957,20.1137857 19.2754725,20.2307857 C18.2474899,20.0933571 17.2138899,19.9800714 16.1896522,19.8110714 C14.1898609,19.4823571 12.1975594,19.1072143 10.1996406,18.7859286 C9.80267826,18.7209286 9.61543188,18.5686429 9.49933913,18.1953571 C8.2504058,14.2266429 6.99023768,10.2635 5.73568696,6.2985 C5.61397681,5.91407143 5.51286377,5.52778571 5.40051594,5.1415 C7.65308986,3.52578571 9.90566377,1.91192857 12.1582377,0.298071429 L12.1582377,0.298071429 Z" id="Shape"></path>
				                    <path d="M8.39458551,39.1532143 C9.32707246,37.9479286 10.177171,36.8447857 11.0347594,35.7472143 C13.4577275,32.6420714 15.886313,29.5406429 18.3092812,26.4355 C19.3410087,25.1150714 20.3727362,23.7965 21.3913565,22.4667857 C21.5842203,22.2160714 21.7752116,22.1473571 22.0972754,22.1937857 C27.5442725,22.9997857 32.9912696,23.7872143 38.4401391,24.5820714 C44.1661333,25.4159286 49.8921275,26.2497857 55.6162493,27.0799286 C55.8278377,27.1115 56.0469159,27.0985 56.2641217,27.1059286 C56.2622493,27.1635 56.2585043,27.2210714 56.2547594,27.2805 C40.3425623,31.2250714 24.4284928,35.1733571 8.39458551,39.1532143 L8.39458551,39.1532143 Z" id="Shape"></path>
				                    <path d="M14.7197681,0.554357143 C28.6340464,9.29592857 42.4322319,17.9632143 56.2341623,26.6286429 C56.2248,26.6657857 56.2154377,26.7010714 56.2060754,26.7400714 C56.067513,26.7270714 55.9289507,26.7215 55.7922609,26.6973571 C48.444713,25.4252143 41.0971652,24.1512143 33.7514899,22.8735 C29.9391536,22.2105 26.1324348,21.5345 22.3200986,20.8845 C21.9736928,20.8250714 21.8201507,20.6746429 21.7115478,20.3700714 C20.4382725,16.7505 19.1556348,13.1309286 17.8748696,9.51135714 C16.9292754,6.84264286 15.9799362,4.17207143 15.034342,1.50335714 C14.9351014,1.2285 14.8489681,0.948071429 14.7197681,0.554357143 L14.7197681,0.554357143 Z" id="Shape"></path>
				                    <path d="M19.1032058,21.7796429 C14.7104058,27.4105 10.3625449,32.9837857 5.98846957,38.5886429 C5.86863188,38.4363571 5.77875362,38.3342143 5.70011014,38.2246429 C4.23584348,36.2170714 2.77906667,34.2057857 1.30356522,32.2075 C1.10508406,31.9382143 1.09572174,31.7599286 1.29607536,31.4850714 C3.91190725,27.9045 6.52212174,24.3165 9.12297391,20.7247857 C9.33268986,20.4350714 9.53491594,20.3552143 9.89630145,20.4090714 C12.8267072,20.8529286 15.760858,21.2707857 18.6931362,21.6979286 C18.7961217,21.7109286 18.9009797,21.7387857 19.1032058,21.7796429 L19.1032058,21.7796429 Z" id="Shape"></path>
				                    <path d="M0.112678261,21.3469286 C1.06201739,20.4703571 1.97952464,19.6160714 2.91013913,18.7747857 C2.99627246,18.6949286 3.16666667,18.6429286 3.28275942,18.6633571 C4.68148986,18.8992143 6.0746029,19.1499286 7.46958841,19.3987857 C7.49393043,19.4025 7.51452754,19.4359286 7.57444638,19.4860714 C6.96215072,20.3682143 6.3536,21.2577857 5.7281971,22.1343571 C5.67764058,22.2067857 5.51286377,22.2439286 5.41362319,22.2272143 C3.68721159,21.9690714 1.96267246,21.6997857 0.240005797,21.4305 C0.210046377,21.4286429 0.187576812,21.3989286 0.112678261,21.3469286 L0.112678261,21.3469286 Z" id="Shape"></path>
				                </g>
				                <path d="M0,204.530725 C5.85501639,204.756005 11.1222295,203.378805 16.0459672,199.725925 C10.9177377,199.110805 7.54140984,196.653845 5.70098361,191.928245 L10.1033115,191.928245 C5.06006557,189.856725 2.07147541,186.403605 1.75544262,180.807685 C3.36659016,181.239765 4.8157377,181.627845 6.264,182.016805 C1.59432787,176.904005 0.50104918,171.501685 3.44714754,167.162405 C9.4615082,174.096805 17.0002623,178.034805 26.4139672,178.720325 C26.3741311,178.094645 26.352,177.589525 26.3121639,177.086165 C25.9474426,172.552405 28.346459,168.267685 32.4053115,166.212005 C36.3827213,164.195045 41.3852459,164.711605 44.7199672,167.641125 C45.5919344,168.408485 46.3417377,168.511445 47.3163934,168.145365 C49.0868852,167.480085 50.860918,166.820085 52.7438361,166.114325 C52.012623,168.481525 50.4492787,170.245045 48.6354098,171.992725 C50.4413115,171.504325 52.2472131,171.015925 54.0513443,170.529285 C54.1336721,170.608485 54.216,170.690325 54.2974426,170.767765 C52.7606557,172.305125 51.2699016,173.889125 49.6658361,175.349925 C49.0576721,175.903445 48.7664262,176.368085 48.7735082,177.218165 C48.9018689,192.441285 38.5285574,205.474965 23.6944918,208.600725 C15.8644918,210.248965 8.36911475,209.139285 1.31547541,205.316565 C0.866655738,205.073685 0.437311475,204.793845 0,204.530725 L0,204.530725 Z" id="Shape"></path>
				                <path d="M404.174755,0.00139393939 C404.571977,0.0961818182 404.967811,0.203515152 405.3692,0.284363636 C412.338644,1.68945455 416.902533,8.51836364 415.083089,15.4127879 C413.884477,19.9584242 412.221977,24.403697 410.465033,28.7709091 C408.2692,34.2295758 405.763644,39.5627879 403.387255,44.9489697 C403.224755,45.3169697 403.027533,45.6696364 402.787255,46.1505455 C402.591422,45.8815152 402.466422,45.7504848 402.3942,45.5971515 C398.399755,37.006303 394.4692,28.3889697 391.455311,19.388303 C391.023366,18.100303 390.645589,16.79 390.338644,15.4685455 C388.687255,8.38315152 393.241422,1.50266667 400.387255,0.236969697 C400.676144,0.185393939 400.9567,0.0808484848 401.240033,0 C402.217811,0.00139393939 403.196977,0.00139393939 404.174755,0.00139393939 L404.174755,0.00139393939 Z M402.716422,17.2946061 C405.901144,17.2862424 408.4567,14.7060606 408.434477,11.5195152 C408.412255,8.33436364 405.838644,5.81412121 402.6317,5.83921212 C399.505311,5.86430303 396.971977,8.41660606 396.965033,11.5487879 C396.958089,14.7311515 399.534477,17.3043636 402.716422,17.2946061 L402.716422,17.2946061 Z" id="Shape"></path>
				            </g>
				</svg>
			</div>
		</div>
		<hr />
		<div class="row section request-quote-block">
			<div class="col-md-8">
				<h3>“How much does it cost?”</h3>
				<p class="lead">The variable nature of each project makes it impossible to give an estimate without knowing at least a little about the project. Give us a hint and we'll get back to you with a free consultation.</p>
			</div>
			
			<div class="clearfix"></div>
			<div class="col-md-4">
				<div class="request-block selected">
					<h4>Portfolio Site</h4>
					<p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis.</p>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="request-block">
					<h4>E-Commerce Platform</h4>
					<p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis.</p>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="request-block">
					<h4>Something Bigger</h4>
					<p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis.</p>
				</div>
			</div>
			
			<div class="col-md-6 col-md-offset-3 text-center" id="cta">
				<input type="" name="" value="" placeholder="Your Email or Phone" />
				<button class="btn btn-primary" data-toggle="modal" data-target="#request-quote">Request Quote</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" id="request-quote" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
         	<h4>Your request has been successfully sent!</h4>
         	<p>Close this box, or enter additional details about the project.</p>
         </div>
         <div class="modal-body">
         	<div class="row">
         		<div class="col-md-12">
         			<h5>Description</h5>
         		</div>
	         	<div class="col-md-12"><textarea class="form-control"></textarea></div>
         	</div>
         	<div class="row">
         		<div class="col-md-12">
         			<h5>Additional Details</h5>
         		</div>
		     	<div class="col-md-4"><input type="" name="" value="" placeholder="Budget" class="form-control" /></div>
        	 	<div class="col-md-4"><input type="" name="" value="" placeholder="Budget" class="form-control" /></div>
         		<div class="col-md-4"><input type="" name="" value="" placeholder="Budget" class="form-control" /></div>
         	</div>
         </div>
         <div class="modal-footer text-center">
			<button class="btn btn-large btn-primary">Attach Details</button>
         </div>
       </div>
  </div>
</div>