<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h3>#Team</h3>
			<p class="lead">We don’t have any info on the team yet, so here’s a tiny video of one of its founding members trying to cough out a pigeon.</p>
			<iframe class="vine-embed" src="https://vine.co/v/MEKQuem2K0H/embed/simple" width="600" height="600" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
		</div>
	</div>
</div>