<div class="main-content">
	<div class="container">
		
		<div class="row section intro-section">
			<h2 class="page-title col-md-12">We create things for the web</h2>
			<div class="col-md-6 col-md-offset-2">
				<p>Hash Cookies is a small firm based out of the beautiful State of Goa. We are driven by a passion to create beautiful products and have lofty goals of putting a dent in to the world of design.</p>
				<p>We take time to understand our client’s business, study its market and strive to create something unique and meaningful. Our efforts lie in exceeding the expectations of our clients. </p>
			</div>
		</div>
		
		<div class="row section">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<h3>Web Design and Development</h3>
				<p>Our core business is the production of websites. Proficient in the arts of not just design and information architecture, but writing code for various platforms, including <strong>content management systems</strong>, <strong>ecommerce platforms</strong>, visually interactive static <strong>portfolio designs</strong>, or even convert PSD renders to HTML.</p>
			</div>
		</div>		
		<div class="row section">
			<div class="col-md-6">
				<h3>Branding and Social Media</h3>
				<p>An online presence requires more than just a website. If a project requires it, we design logos, create web copy, build brand awareness over social media and even educate our clients while suggesting healthy methods of generating traffic to help them reach their customers.</p>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
</div>


<div class="container">
	<h3>We do our best to deliver a product that makes our clients want to flaunt it.</h3>
	<div class="row section">
		<% @projects.each_with_index do |project,i| %>
			<div class="col-md-4">
			  	  <div class="col-md-12">
			  	  	<img src="/projects/<%= project.filename %>" width="200" height="200" />
			  	  </div>
			  	  <div class="col-md-12">
			  	  	<h3><a href="/show/<%= project.id %>"><%= project.name %></a></h3>
			  	  </div>
			</div>
		<% end %>
	</div>
</div>