<div class="container intro-container">
	<div class="row text-center">
		<svg width="300px" height="1px" viewBox="0 0 300 1"  data-0="width: 0px;" data-500="width: 300px;" version="1.1">	
		        <path d="M0.5,1 L300,1" id="Line" stroke="#E7EC41" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
		</svg>
	</div>
	<div class="row titles">
		<div class="col-md-12 text-center">
			<h2>Our Design Work</h2>
			<p class="lead">We embrace the modern web as an expressive platform to connect with people.</p>
		</div>
		
		

		<div id="intro-screenshots">
		
			<div id="scr-aether" class="screenshot"  data-center-top="transform:scale(1)  translateZ(1000px)" data-top-bottom="transform:scale(.8) translateZ(1000px)">
				<img src="/images/scr-aether.jpg" alt=""  />
			</div>
			
			
			<div id="scr-ggw" class="screenshot"  data-center-top="transform:translateX(0px)  perspective( 200px ) rotateY( 0deg ) scaleX(1);" data-top-bottom="transform:translateX(-450px) perspective( 100px ) rotateY( 3deg ) scaleX(0.8);">
				<img src="/images/scr-ggw.jpg" alt="" />
			</div>
			
			
			<div id="scr-nitido" class="screenshot"  data-center-top="transform:translateX(0px) perspective( 200px ) rotateY( 0deg ) scaleX(1);" data-top-bottom="transform:translateX(450px) perspective( 100px ) rotateY( -3deg ) scaleX(0.8);">
				<img src="/images/scr-nit.jpg" alt="" />
			</div>
			
			
		</div>
	</div>
</div>
<div class="white-container full-container" id="proj-chand">
	<div class="container">
		<div class="row section">
			<div class="col-md-12 text-center">
				<h5>Clean. Minimal. Content-first.</h5>
				<p class="lead">We love to use content as navigation, whitespace as user interface, art as communication;<br /> leaving none of our own footprints in our clients’ work.</p>
			</div>
		</div>
	</div>
	<div class="screenshot-wrap">
		<svg version="1.1" height="530" width="1400">
			<g id="cg-frame" class="browser-frame" sketch:type="MSShapeGroup" transform="translate(0.5,0.5)">
			    <rect class="long-path main-frame" x="0" y="0" width="95%" rx="5"></rect>
			    <line class="browser-line long-path" y2="50" x2="95%" y1="50" x1="0" stroke-width="5" stroke="#000000" fill="none" />
			    <circle class="short-path" cx="22" cy="23" r="6"></circle>
			    <circle class="short-path" cx="40" cy="23" r="6"></circle>
			    <circle class="short-path" cx="60" cy="23" r="6"></circle>
			    <rect class="long-path address-bar" x="77" y="13" width="85%" height="20" rx="3"></rect>
			    <text x="86" y="26" class="address-path short-path">Chandana Gupta</text>
			    <img src="/images/scr-cg.jpg" class="screenshot" alt="" id="scr-cg" />
			</g>
		</svg>
		<div class="project-info">
			<h6 class="project-title">Chandana Gupta</h6>
			<p class="project-desc">Wordpress powered responsive layout</p>
		</div>
	</div>
</div>

<div class="full-container" id="proj-goaprop">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h4>Product Before Technology. <span>Always.</span></h4>
				<p class="lead">Every project starts from ground zero: what is the goal and how best we achieve it? If we have to build an entire platform to support it, we’ll do it. We’ve done it.</p>
			</div>
			
			<div class="col-md-3 project-info text-right pull-right">
				<h6 class="project-title">Goa Property Co</h6>
				<p class="project-desc">Custom CMS based on Sinatra Ruby and Responsive design principles</p>
			</div>
		</div>
		<div class="row">
			<div class="screenshot-wrap">
				<svg version="1.1" height="680" width="1182">
					<g id="gpc-frame" class="browser-frame" sketch:type="MSShapeGroup" transform="translate(0.5,0.5)">
					    <rect class="long-path main-frame" x="0" y="0" width="95%" rx="5"></rect>
					    <line class="browser-line long-path" y2="50" x2="95%" y1="50" x1="0" stroke-width="5" stroke="#000000" fill="none" />
					    <circle class="short-path" cx="22" cy="23" r="6"></circle>
					    <circle class="short-path" cx="40" cy="23" r="6"></circle>
					    <circle class="short-path" cx="60" cy="23" r="6"></circle>
					    <rect class="long-path address-bar" x="77" y="13" width="85%" height="20" rx="3"></rect>
					    <text x="86" y="26" class="address-path short-path">GoaPropertyCo.com</text>
					    <img src="/images/scr-gpc.jpg" class="screenshot" alt="" id="scr-gpc" />
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>

<div class="full-container" id="proj-arev">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h4>Unique hand crafted designs</h4>
			 	<p class="lead">Our multi-faceted designs try to find a balance between uniqueness in identity and familiarity in operation. It's what we call <em>“Emotion in Logic”.</em></p>
			</div>
			
			<div class="clearfix"></div>
			
			<div class="col-md-12 screenshot-wrap">
				<svg version="1.1"  id="arev-frame">
					<g class="browser-frame" sketch:type="MSShapeGroup" transform="translate(0.5,0.5)">
					   <rect class="long-path main-frame" x="0" y="0" width="95%" rx="5"></rect>
					   <line class="browser-line long-path" y2="50" x2="95%" y1="50" x1="0" stroke-width="5" stroke="#000000" fill="none" />
					   <circle class="short-path" cx="22" cy="23" r="6"></circle>
					   <circle class="short-path" cx="40" cy="23" r="6"></circle>
					   <circle class="short-path" cx="60" cy="23" r="6"></circle>
					   <rect class="long-path address-bar" x="77" y="13" width="85%" height="20" rx="3"></rect>
					   <text x="86" y="26" class="address-path short-path">a Reverie</text>
					</g>
				</svg>
				<div id="arev-iphone-frame-wrap"  data-bottom-top="transform:translateY(30px)" data-top-bottom="transform:translateY(-30px)">
					<svg version="1.1" id="arev-frame-iphone">
						<g sketch:type="MSLayerGroup" stroke="#4990E2">
						    <rect class="long-path" id="iphone-frame" fill="#FFFFFF" sketch:type="MSShapeGroup" x="0" y="0" width="258" height="518" rx="15"></rect>
						    <!--<rect class="long-path" id="Rectangle-4" fill="#FFFFFF" sketch:type="MSShapeGroup" x="15" y="52" width="228" height="403" rx="3"></rect>-->
						    <circle class="long-path" id="Oval-4" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="128" cy="484" r="20.5"></circle>
						    <rect class="long-path" id="Rectangle-5" fill="#FFFFFF" sketch:type="MSShapeGroup" x="106" y="26" width="51" height="10" rx="3"></rect>
						    <path class="long-path" fill="#FFFFFF" d="M96,36 C98.7614237,36 101,33.7614237 101,31 C101,28.2385763 98.7614237,26 96,26 C93.2385763,26 91,28.2385763 91,31 C91,33.7614237 93.2385763,36 96,36 Z" id="Oval-5" sketch:type="MSShapeGroup"></path>
						    
						</g>
					</svg>
					<img src="/images/scr-arev-iphone.jpg" alt="" class="screenshot" id="scr-arev-iphone" />
				</div>
				<img src="/images/scr-arev.jpg" class="screenshot" alt="" id="scr-arev" />
			</div>
			<div class="col-md-8">
				<div class="project-info">
					<h6 class="project-title">a Reverie</h6>
					<p class="project-desc">Hand crafted pages, served with PHP.</p>
				</div>
			</div>
		 </div>		
	</div>
</div>

<div class="full-container" id="proj-palma">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			 	<h5>Design is <span>Iteration</span></h5>
			 	<p class="lead">Our work goes beyond placing pixels on a screen. We design, and then redesign, all the while visualising an experience that fits the message (and not the other way around).</p>
			</div>
			<div class="col-md-3 project-info text-right pull-right">
				<h6 class="project-title">Palmarinha Holidays</h6>
				<p class="project-desc">Lush visuals in a spacious layout. Built with Bootstrap on Sinatra Ruby.</p>
			</div>
			<div class="col-md-12 screenshot-wrap">
				<svg version="1.1" height="650">
					<g id="palm-frame" class="browser-frame" sketch:type="MSShapeGroup" transform="translate(0.5,0.5)">
					   <rect class="long-path main-frame" x="0" y="0" width="95%" rx="5"></rect>
					   <line class="browser-line long-path" y2="50" x2="95%" y1="50" x1="0" stroke-width="5" stroke="#000000" fill="none" />
					   <circle class="short-path" cx="22" cy="23" r="6"></circle>
					   <circle class="short-path" cx="40" cy="23" r="6"></circle>
					   <circle class="short-path" cx="60" cy="23" r="6"></circle>
					   <rect class="long-path address-bar" x="77" y="13" width="85%" height="20" rx="3"></rect>
					   <text x="86" y="26" class="address-path short-path">Palmarinha Holidays</text>
					   <img src="/images/scr-palmarinha.jpg" alt="" id="scr-palmarinha" class="screenshot" />
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>


<div class="full-container"  id="proj-invoices">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="lead">HTML5, CSS3, Ruby on Rails, jQuery, AJAX, Node.js, MySQL, Python, PHP, Sinatra, Laravel… Technology is a never ending endeavour, but meaningless without application.</p> 
				<p class="lead">It’s <em>"what it is"</em> what drives us.</p>
			</div>
			<div class="col-md-6 screenshot-wrap">
				<svg id="ipad-3d" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="1500px" height="1100px" viewBox="0 0 841.89 595.28" enable-background="new 0 0 841.89 595.28" xml:space="preserve">
					 <path class="long-path side" fill="#dddddd" stroke="#010202" stroke-width="0.88" stroke-miterlimit="10" d="M816.609,188.223c0,0,9.308,8.027-12.442,21.277
					 	L782.5,223L435.692,422.785c0,0-47.026,28.381-61.859,35.07c-15.695,7.773-33.459-0.1-33.459-0.1L80,329.625L39.33,308.09
					 c0,0-22.08-12.006-11.571-26.272"/>
					 
					<path class="long-path front" fill="#f0f0f0" stroke="#010202" stroke-width="0.88" stroke-miterlimit="10" d="M34.062,295.312
						c-0.64-0.411-3.736-1.903-5.854-4.021c-3.962-3.962-1.458-10.708,4.395-13.12l107.146-50.163l140.082-66.534l119.092-56.672
						l74.758-35.497c0,0,13.735-6.716,28.098-0.695l305.192,114.548l6.015,2.167c0,0,8.114,2.963,0.871,8.219l-429.941,247.62
						c-20.582,14.668-46.169,4.048-46.169,4.048L34.062,295.312z"/>
					<ellipse class="long-path" fill="none" stroke="#000000" stroke-width="0.8532" stroke-miterlimit="10" cx="198.95" cy="354.236" rx="16.557" ry="8.029"/>
				</svg>
				<img src="/images/ipad-invoices.png" alt="" />
			</div>
			<div class="project-info">
				<h6 class="project-title">#Invoices App</h6>
				<p class="project-desc">A Hash Cookies production, based on Ruby on Rails. Currently in private beta.</p>
			</div>
		</div>
	</div>
</div>