<div id="units">
	<div id="browser"></div>
</div>

<div class="main-content" id="services-container">
	<div class="container">
		<div class="intro-section">
				<h3 id="services-title" class="page-title">We create things for the web</h3>
				
				<div id="learn-more">
					<span>Learn More</span>
				</div>
		</div>
		
		<div class="row section services-block" id="services-block-1">
			<div class="col-md-5 text-right">
				<h3>Web Design and Development</h3>
				<p>Our core business is the production of websites. Proficient in the arts of not just design and information architecture, but writing code for various platforms, including <strong>content management systems</strong>, <strong>ecommerce platforms</strong>, visually interactive static <strong>portfolio designs</strong>, or even convert PSD renders to HTML.</p>
			</div>
			<div class="col-md-7 text-center">
<!--				<img src="images/web-design.png" alt="" />-->
			</div>
			
		</div>		
		<div class="row section services-block" id="services-block-2">
			<div class="col-md-5 text-right">
				<h3>Branding and Social Media</h3>
				<p>An online presence requires more than just a website. If a project requires it, we design logos, create web copy, build brand awareness over social media and even educate our clients while suggesting healthy methods of generating traffic to help them reach their customers.</p>
			</div>
			<div class="col-md-7 text-center">
<!--				<img src="images/social.png" alt="" />-->
			</div>
		</div>
		<div class="text-center col-md-6 col-md-offset-3 last-line">
			<p>We do our best to deliver a product that makes our clients want to flaunt it.</p>
		</div>
	</div>
</div>


<div class="container project-list">
	
	<div class="row section">
		<% @projects.each_with_index do |project,i| %>
			<div class="col-md-4">
			  	  <div class="col-md-12 img-block">
			  	  	<img src="/projects/<%= project.filename %>" />
			  	  </div>
			  	  <div class="col-md-12 text-block">
			  	  	<header>
			  	  		<h4><%= project.name %></h4>
			  	  		<span><a href="<%= project.url %>">Visit Link</a></span>
			  	  	</header>
			  	  	
			  	  	<p><%= project.description %></p>
			  	  </div>
			</div>
		<% end %>
	</div>
</div>