$serif: "FreightText", Georgia, serif;
$sans: "Brandon Grotesque", Helvetica, sans-serif;
$sansAlt: "Bree", sans-serif;
$yl: #e8ea1c;
$red: #ee4853;
$lightG: #f0f3f4;
$vibBlue: #10a7c7;
$dark: #1b3f4b;
$black: #332222;


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar {
	background: none;
	z-index: 2;
	top: 50px;
	left: 0;
	border: none;
	color: white;
	padding: 0px 5%;
	background: $red;
	border-radius: 0;
	.nav {
		li {
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			font-family: $sansAlt;
			a {
				color: $yl;
				padding-top: 15px;
				&:hover {
					color: $vibBlue;
				}
			}
		}
	}
	#hc-logo {
		margin-top: -50px;
		width: 100px;
		path, polygon {
			fill: $yl;
		}
		
	}
}

h1, h2, h3, h4 {
	font-family: $sansAlt;
	font-weight: bold;
	text-transform: uppercase;
}

body {
	font-family: $sans;
	background-color: $dark;
	color: $yl;
}

.btn-primary {
	background: $red;
	font-family: $sansAlt;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	border: none;
	color: $yl;
	padding: 15px 35px;
	border-radius: 0;
}
.cover {
	color: $yl;
	width: 90%;
	max-width: 1280px;
	margin: 50px auto 50px;
	
	
}

.intro {
	font-family: $serif;
	font-style: italic;
	
	font-weight: 100;
	margin-bottom: 80px;
	margin-top: 50px;
	p {
		-webkit-transform: translateY(30px);
		opacity: 0;
		-webkit-transition-duration: 1400ms;
		font-size: 24px;
	}
	p:nth-child(1) {
		-webkit-transition-delay: 1s;
		.loaded & {
			opacity: 1;
			-webkit-transform: translateY(0);	
		}
	}
	p:nth-child(2) {
		-webkit-transition-delay: 2.5s;
		.loaded & {
			opacity: 1;
			-webkit-transform: translateY(0);	
		}
	}
	p:nth-child(3) {
		-webkit-transition-delay: 4s;
		.loaded & {
			opacity: 1;
			-webkit-transform: translateY(0);	
		}
	}
	.main-title {
		margin-top: 50px;
		font-family: $sansAlt;
		font-size: 30px;
		font-style: normal;
	}
	h1 {
		font-size: 80px;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: bold;
		
	}
}
.hero {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 420px;
}
#hc-cup {
	margin-right: 4%;
	margin-top: 20px;
	width: auto;
	
	
}
#left-block {
	position: absolute;
	left: 0%;
	width: 48%;
	height: 600px;
	
}

#right-block {
	position: absolute;
	left: 52%;
	width: 48%;
}



.home-nav {
	background: url('../images/nav-bg.png') no-repeat;
	overflow: auto;
	width: 527px;
	height: 64px;
	padding-top: 20px;
	li {
		font-family: $sansAlt;
		font-weight: bold;
		text-transform: uppercase;
		list-style: none;
		float: left;
		margin: 0 10px;
		font-size: 18px;
		a {
			color: $yl;
		}
	}
}

.main-content {
	overflow: auto;
	width: 100%;	
	padding-top: 30px;
}

.section {
	img {
		width: 100%;
	}
	li {
		list-style: none;
	}		
}

.story-block {
	padding-bottom: 50px;
	min-height: 600px;
	background: white;
	padding-top: 50px;
	overflow-x: hidden;
	p {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 30px;
	}
	.project-title {
		color: $red;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.linkout {
		font-family: $serif;
		font-style: italic;
		a {
			color: inherit;
		}
	}
}

.invoices-block {
	padding: 50px 5%;
	margin-bottom: 0;
	background: #d75544;
	color: white;
	p {
		font-weight: 400;
	}
	img {
		width: auto;
		position: absolute;
		margin-left: -50px;
		-webkit-transition-duration: 1400ms;
	}
	.project-title {
		color: white;
	}
	.meta-block {
		position: absolute;
		top: 350px;
		right: 90px;
	}
	.js & {
		img {
			-webkit-transform: translateY(20px);
			-webkit-filter: blur(10px);
			opacity: 0;
		}
		
		
	}
}

.invoices-block.visible {
	.js & {
		img {
			-webkit-transform: translateX(0);
			-webkit-filter: blur(0);
			opacity: 1;
		}
	}
}


.responsive-block {
	background: $lightG;
	.block-copy {
		p {
			font-size: 36px;
			span {
				color: $red;
				font-weight: bold;
			}
		}
	}
	p.ticker-intro {
		float: left;
		margin-right: 10px;
	}
	
	#ticker {
		text-align: left;
		margin-left: 307px;	
		li {
			color: $red;
			font-size: 36px;
		}
	}
	.project-linkout {
		z-index: 20;
		position: absolute;
		right: 0;
		bottom: 20px;
	}
}

#responsive-slides {
	height: 430px;
	li {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}



.design-block {
	background: white;
	padding-top: 80px;
	padding-bottom: 0;
	p {
		font-weight: 300;
		font-size: 30px;
		line-height: 160%;
	}
	.smalltext {
		font-size: 18px;
		line-height: 180%;
	}
	img {
		width: 100%;
		-webkit-box-shadow: 0px 0px 30px rgba(0,0,0, .2);
	}
	.project-linkout  {
		
		display: none;
	}
}


.quote-block {
 	padding: 80px 0 50px;
 	min-height: 0;
 	background: #fafafa;
 	p {
		font-size: 30px;
 	}
 	#call-to-action {
 		padding-left: 0;
 		li {
 			float: left;
 			margin-right: 20px;
 			a {
 				border: 1px solid #ccc;
 				display: block;
 				padding: 10px 25px;
 				border-radius: 4px;
 				color: $red;
 				text-transform: uppercase;
 				font-weight: bold;
 				font-size: 14px;
 				-webkit-box-sizing: content-box;
 				text-shadow: 0px 1px #fff;
 			}
 			&:first-child a {
 				background: $red;
 				color: white;
 				border: none;

 			}
 		}
 	}
 	
}

.more-block {
	margin-top: 10px;
	border-left: 1px solid $lightG;
	padding-left: 20px;
	.section-title {
		font-weight: bold;
		text-transform: uppercase;
		color: $vibBlue;
		margin-bottom: 5px;
		display: inline-block;
	}
	ul {
		padding-left: 0;
		li {
			h3 {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 400;
			}
			p {
				font-size: 16px;
				display: none;
			}
		}
	}
}

@-webkit-keyframes Dash {
	0% {
		stroke-dashoffset: 500;
	}
	99% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes longdash {
	0% {
		stroke-dashoffset: 3500;
	}
	99% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes mainframe {
	0% {
		stroke-dashoffset: 6500;
	}
	99% {
		stroke-dashoffset: 0;
	}
}


 .short-path {
	stroke: rgb(62, 114, 125);
	stroke-dasharray: 500;
	stroke-dashoffset: 0;
	stroke-width: 1px;
	fill-opacity: 0;
	stroke-opacity: 0;
	.animate & {
		stroke-opacity: 1;
		-webkit-animation: Dash 10s linear;
	}
}

.long-path {
	stroke: rgb(62, 114, 125);
	stroke-dasharray: 3500;
	stroke-dashoffset: 0;
	stroke-width: 1px;
	fill-opacity: 0;
	stroke-opacity: 0;
	.animate & {
		stroke-opacity: 1;
		-webkit-animation: longdash 4s linear;
	}
	
}

#cup {
	circle, polyline, line {
		stroke: $red;
		stroke-dasharray: 500;
		stroke-dashoffset: 0;
		stroke-width: 1px;
		fill-opacity: 0;
		stroke-opacity: 0;
		stroke-opacity: 1;
		-webkit-animation: Dash 5s linear;
	}
}


.main-frame {
	stroke: rgb(62, 114, 125);
	stroke-dasharray: 6500;
	stroke-dashoffset: 0;
	stroke-width: 1px;
	fill-opacity: 0;
	stroke-opacity: 0;
	.animate & {
		-webkit-animation: longdash 4s linear;
		stroke-opacity: 1;
	}
	
}

.line-path {
	shape-rendering: crispEdges;
}

.bg-fill {
	fill-opacity: 1;
}

.services-wrap {
	color: $yl;
	.services-block {
		margin-bottom: 50px;
	}
	h3 {
		color: $red;
		font-weight: bold;
		font-family: $sansAlt;
		text-transform: uppercase;
		font-size: 30px;
		.amp {
			font-family: Baskerville;
			font-style: italic;
			font-weight: normal;
		}
	}
	.lead {
		font-size: 24px;
	}
	h4 {
		font-size: 24px;
		font-weight: bold;
		font-family: $sansAlt;
		text-transform: uppercase;
	}
	p {
		font-size: 18px;
		strong {
			font-weight: normal;
		}
	}
}

.page-title {
	font-size: 80px;
	text-align: center;
	font-family: $sansAlt;
	font-weight: bold;
	text-transform: uppercase;
	margin: 100px auto;
}

.request-quote-block {
	margin-top: 100px;
	margin-bottom: 100px;
	h3 {
		font-size: 42px;
	}
	.request-block {
		
		padding: 25px;
	}
	.selected {
		background: lighten($dark, 2%);
		border: 1px solid lighten($dark, 5%);
	}
}

.intro-container {
	.titles {
		margin-top: 30px;
		h2 {
			font-size: 48px;
		}
	}
}

#intro-screenshots {
	position: relative;
	margin-top: 180px;
	z-index: 0;
	height: 450px;
	.screenshot {
		position: absolute;
		-webkit-transform: translateY(0);
		height: 444px;
	}
}

#scr-ggw {
	z-index: 1;
	top: 35px;
}

#scr-aether {
	z-index: 5;
}

#scr-nitido {
	top: 35px;
	right: 0;
	z-index: 1;
}

.screenshot {
	max-width: 100%;
}

.full-container {
	position: relative;
	z-index: 30;
	color: $black;
	border-bottom: 1px solid #ddd;
	.section {
		padding: 50px 0;
	}
}

#proj-chand {
	
	background: white;
	padding: 50px 2.5%;
	
	-webkit-box-shadow: 0px -10px 20px transparentize(black, 0.7);
	
	h5 {
		font-size: 30px;
		font-weight: 100;
	}
	.screenshot-wrap {
		width: 100%;
		max-width: 1400px;
	}
	
}

.screenshot-wrap {
	margin: 0 auto;
	.long-path, .short-path {
		stroke: lighten(#000, 70%);
	}

	svg {
		width: 100%;
		position: absolute;
	}
	.browser-frame {
		width: 800px;
	}
	img {
		width: 99%;
		margin-left: 1px;
		margin-top: 50px;
	}
}


.project-info {
	margin-top: 20px;
	.project-title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		color: $red;
		margin-bottom: 5px;
	}
	.project-desc {
		font-size: 16px;
		font-family: $serif;
		font-style: italic;
	}
}

#proj-goaprop {
	padding: 50px 0;
	background-color: #fbfbf2;
	p {

	}
	.lead {
		margin-top: 20px;
	}
	img {
		max-width: 100%;
	}
}

#proj-arev {
	background: white;
	padding: 50px 0;
	.screenshot-wrap {
		position: relative;
	}
}

#arev-frame {
	height: 500px;
}

#scr-arev {
	max-width: 1187px;
}

#arev-frame-iphone {
	position: absolute;
	right: 95px;
	bottom: -40px;
	width: 260px;
	height: 519px;
}

#scr-arev-iphone {
	width: 226px;
	position: absolute;
	right: 113px;
	bottom: 26px;
	border-radius: 4px;
}

#arev-frame-iphone {
	rect {
		fill-opacity: 1 !important;
	}	
} 

#proj-palma {
	padding-top: 30px;
	h5 {
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 100;
		margin-bottom: 20px;
		span {
			color: $red;
		}
	}
	.screenshot-wrap {
		margin-top: 20px;
	}
	.project-info {
		margin-top: 60px;
	}
}