* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.navbar {
  background: none;
  z-index: 2;
  top: 50px;
  left: 0;
  border: none;
  color: white;
  padding: 0 5%;
  display: none; }
  .navbar .nav li {
    text-transform: uppercase;
    font-size: 16px;
    font-style: italic; }
    .navbar .nav li a {
      color: white;
      padding-top: 12px; }
      .navbar .nav li a:hover {
        color: #10a7c7; }
      .services .navbar .nav li a {
        color: #81b7c1; }
  .navbar .navbar-brand {
    background: url("../images/hc-logo.png") no-repeat;
    text-indent: -9999px;
    width: 43px;
    height: 43px; }

body {
  font-family: "Brandon Grotesque", Helvetica, sans-serif;
  background: #1b3f4b; }

.cover {
  color: #e8ea1c;
  width: 90%;
  max-width: 1280px;
  margin: 50px auto 50px; }
  .cover .intro {
    text-align: center;
    font-family: "FreightText", Georgia, serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 80px; }

.hero {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 420px; }

#hc-cup {
  margin-right: 4%;
  margin-top: 20px;
  width: auto; }

#left-block {
  position: absolute;
  left: 26%;
  width: 48%; }

#right-block {
  position: absolute;
  left: 52%;
  opacity: 0; }

#main-title {
  background: url("../images/hc-logotype.png") no-repeat left top;
  background-size: contain;
  width: 100%;
  height: 320px;
  text-indent: -9999px;
  margin-bottom: 20px; }

.home-nav {
  background: url("../images/nav-bg.png") no-repeat;
  overflow: auto;
  width: 527px;
  height: 64px;
  padding-top: 20px; }
  .home-nav li {
    font-family: "Bree", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    float: left;
    margin: 0 10px;
    font-size: 18px; }
    .home-nav li a {
      color: #e8ea1c; }

.main-content {
  background: white;
  overflow: auto;
  width: 100%;
  padding-top: 30px; }

.section img {
  width: 100%; }
.section li {
  list-style: none; }

.story-block {
  padding-bottom: 50px;
  min-height: 600px;
  background: white;
  padding-top: 50px;
  overflow-x: hidden; }
  .story-block p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px; }
  .story-block .project-title {
    color: #ee4853;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px; }
  .story-block .linkout {
    font-family: "FreightText", Georgia, serif;
    font-style: italic; }
    .story-block .linkout a {
      color: inherit; }

.invoices-block {
  padding: 50px 5%;
  margin-bottom: 0;
  background: #d75544;
  color: white; }
  .invoices-block p {
    font-weight: 400; }
  .invoices-block img {
    width: auto;
    position: absolute;
    margin-left: -50px;
    -webkit-transition-duration: 1400ms; }
  .invoices-block .project-title {
    color: white; }
  .invoices-block .meta-block {
    position: absolute;
    top: 350px;
    right: 90px; }
  .js .invoices-block img {
    -webkit-transform: translateY(20px);
    -webkit-filter: blur(10px);
    opacity: 0; }

.js .invoices-block.visible img {
  -webkit-transform: translateX(0);
  -webkit-filter: blur(0);
  opacity: 1; }

.responsive-block {
  background: #f0f3f4; }
  .responsive-block .block-copy p {
    font-size: 36px; }
    .responsive-block .block-copy p span {
      color: #ee4853;
      font-weight: bold; }
  .responsive-block p.ticker-intro {
    float: left;
    margin-right: 10px; }
  .responsive-block #ticker {
    text-align: left;
    margin-left: 307px; }
    .responsive-block #ticker li {
      color: #ee4853;
      font-size: 36px; }
  .responsive-block .project-linkout {
    z-index: 20;
    position: absolute;
    right: 0;
    bottom: 20px; }

#responsive-slides {
  height: 430px; }
  #responsive-slides li {
    width: 100%;
    margin: 0 auto;
    text-align: center; }

.design-block {
  background: white;
  padding-top: 80px;
  padding-bottom: 0; }
  .design-block p {
    font-weight: 300;
    font-size: 30px;
    line-height: 160%; }
  .design-block .smalltext {
    font-size: 18px;
    line-height: 180%; }
  .design-block img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }
  .design-block .project-linkout {
    display: none; }

.quote-block {
  padding: 80px 0 50px;
  min-height: 0;
  background: #fafafa; }
  .quote-block p {
    font-size: 30px; }
  .quote-block #call-to-action {
    padding-left: 0; }
    .quote-block #call-to-action li {
      float: left;
      margin-right: 20px; }
      .quote-block #call-to-action li a {
        border: 1px solid #ccc;
        display: block;
        padding: 10px 25px;
        border-radius: 4px;
        color: #ee4853;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        -webkit-box-sizing: content-box;
        text-shadow: 0px 1px #fff; }
      .quote-block #call-to-action li:first-child a {
        background: #ee4853;
        color: white;
        border: none; }

.more-block {
  margin-top: 10px;
  border-left: 1px solid #f0f3f4;
  padding-left: 20px; }
  .more-block .section-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #10a7c7;
    margin-bottom: 5px;
    display: inline-block; }
  .more-block ul {
    padding-left: 0; }
    .more-block ul li h3 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400; }
    .more-block ul li p {
      font-size: 16px;
      display: none; }
