* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.navbar {
  background: none;
  z-index: 2;
  top: 50px;
  left: 0;
  border: none;
  color: white;
  padding: 0 5%; }
  .navbar .nav li {
    text-transform: uppercase;
    font-size: 16px;
    font-style: italic; }
    .navbar .nav li a {
      color: white;
      padding-top: 12px; }
      .navbar .nav li a:hover {
        color: #10a7c7; }
      .services .navbar .nav li a {
        color: #f02f16; }
  .navbar .navbar-brand {
    background: url("../images/hc-logo.png") no-repeat;
    text-indent: -9999px;
    width: 43px;
    height: 43px; }

body {
  font-family: "Brandon Grotesque", Helvetica, sans-serif;
  background: white; }

.cover {
  height: 800px;
  background: url("../images/home-bg.jpg") no-repeat;
  background-size: cover;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 0 5%;
  color: white;
  z-index: -1; }
  .cover h3 {
    margin-top: 90px;
    font-family: "Tisa OT", Georgia, serif;
    font-weight: 400;
    font-style: italic;
    line-height: 180%;
    font-size: 30px; }
  .cover h1 {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px; }
    .cover h1 span {
      font-family: "Tisa OT", Georgia, serif;
      text-transform: none;
      font-style: italic; }
  .cover .intro {
    position: absolute;
    bottom: 50px; }

.main-content {
  background: white;
  overflow: auto;
  width: 100%;
  padding-top: 30px; }

.section img {
  width: 100%; }
.section li {
  list-style: none; }

.story-block {
  padding-bottom: 50px;
  min-height: 600px;
  background: white;
  padding-top: 50px;
  overflow-x: hidden; }
  .story-block p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px; }
  .story-block .project-title {
    color: #f02f16;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px; }
  .story-block .linkout {
    font-family: "Tisa OT", Georgia, serif;
    font-style: italic; }
    .story-block .linkout a {
      color: inherit; }

.invoices-block {
  padding: 50px 5%;
  margin-bottom: 0;
  background: #d75544;
  color: white; }
  .invoices-block p {
    font-weight: 400; }
  .invoices-block img {
    width: auto;
    position: absolute;
    margin-left: -50px;
    -webkit-transition-duration: 1400ms; }
  .invoices-block .project-title {
    color: white; }
  .invoices-block .meta-block {
    position: absolute;
    top: 350px;
    right: 90px; }
  .js .invoices-block img {
    -webkit-transform: translateY(20px);
    -webkit-filter: blur(10px);
    opacity: 0; }

.js .invoices-block.visible img {
  -webkit-transform: translateX(0);
  -webkit-filter: blur(0);
  opacity: 1; }

.responsive-block {
  background: #f0f3f4; }
  .responsive-block .block-copy p {
    font-size: 36px; }
    .responsive-block .block-copy p span {
      color: #f02f16;
      font-weight: bold; }
  .responsive-block p.ticker-intro {
    float: left;
    margin-right: 10px; }
  .responsive-block #ticker {
    text-align: left;
    margin-left: 307px; }
    .responsive-block #ticker li {
      color: #f02f16;
      font-size: 36px; }

.design-block {
  background: white;
  padding-top: 80px; }
  .design-block p {
    font-weight: 300;
    font-size: 30px;
    line-height: 160%; }
  .design-block .smalltext {
    font-size: 18px;
    line-height: 180%; }
  .design-block img {
    width: auto; }

.quote-block {
  padding: 80px 0 50px;
  min-height: 0; }
  .quote-block p {
    font-size: 30px; }
  .quote-block #call-to-action {
    padding-left: 0; }
    .quote-block #call-to-action li {
      float: left;
      margin-right: 20px; }
      .quote-block #call-to-action li a {
        border: 1px solid #ccc;
        display: block;
        padding: 10px 25px;
        border-radius: 4px;
        color: #f02f16;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        -webkit-box-sizing: content-box;
        text-shadow: 0px 1px #fff; }
      .quote-block #call-to-action li:first-child a {
        background: #f02f16;
        color: white;
        border: none; }

.more-block {
  margin-top: 10px;
  border-left: 1px solid #f0f3f4;
  padding-left: 20px; }
  .more-block .section-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #10a7c7;
    margin-bottom: 5px;
    display: inline-block; }
  .more-block ul {
    padding-left: 0; }
    .more-block ul li h3 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400; }
    .more-block ul li p {
      font-size: 16px;
      display: none; }

.services {
  background: white url(../images/services.jpg) no-repeat top right; }
  .services p {
    font-size: 24px;
    font-weight: 300; }
  .services strong {
    color: #10a7c7;
    font-weight: 400; }
  .services .main-content {
    background: transparent; }
    .services .main-content h3 {
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold; }
  .services .navbar {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; }
  .services .page-title {
    font-size: 60px;
    font-family: "Tisa OT", Georgia, serif;
    font-style: italic;
    color: #f02f16;
    margin-top: 200px;
    font-weight: bold;
    text-shadow: 0px 1px #fff;
    margin-bottom: 50px; }
  .services .intro-section {
    margin-bottom: 100px; }
