$serif: "Tisa OT", Georgia, serif;
$sans: "Brandon Grotesque", Helvetica, sans-serif;
$yl: #ffe633;
$red: #f02f16;
$lightG: #f0f3f4;
$vibBlue: #10a7c7;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar {
	background: none;
	z-index: 2;
	top: 50px;
	left: 0;
	border: none;
	color: white;
	padding: 0 5%;
	.nav {
		li {
			text-transform: uppercase;
			font-size: 16px;
			font-style: italic;
			a {
				color: white;
				padding-top: 12px;
				&:hover {
					color: $vibBlue;
				}
				.services & {
					color: $red;
				}
			}
		}
	}
	.navbar-brand {
		background: url('../images/hc-logo.png') no-repeat;
		text-indent: -9999px;
		width: 43px;
		height: 43px;
	}
}

body {
	font-family: $sans;
	background: white;
}

.cover {
	height: 800px;
	background: url('../images/home-bg.jpg') no-repeat;
	background-size: cover;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	padding: 0 5%;
	color: white;
	z-index: -1;
	h3 {
		margin-top: 90px;
		font-family: $serif;
		font-weight: 400;
		font-style: italic;
		line-height: 180%;
		font-size: 30px;
	}
	h1 {
		margin-top: 40px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 42px;
		span {
			font-family: $serif;
			text-transform: none;
			font-style: italic;
		}

	}
	.intro {
		position: absolute;
		bottom: 50px;
	}
}

.main-content {
	background: white;
	overflow: auto;
	width: 100%;	
	padding-top: 30px;
}

.section {
	img {
		width: 100%;
	}
	li {
		list-style: none;
	}		
}

.story-block {
	padding-bottom: 50px;
	min-height: 600px;
	background: white;
	padding-top: 50px;
	overflow-x: hidden;
	p {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 30px;
	}
	.project-title {
		color: $red;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.linkout {
		font-family: $serif;
		font-style: italic;
		a {
			color: inherit;
		}
	}
}

.invoices-block {
	padding: 50px 5%;
	margin-bottom: 0;
	background: #d75544;
	color: white;
	p {
		font-weight: 400;
	}
	img {
		width: auto;
		position: absolute;
		margin-left: -50px;
		-webkit-transition-duration: 1400ms;
	}
	.project-title {
		color: white;
	}
	.meta-block {
		position: absolute;
		top: 350px;
		right: 90px;
	}
	.js & {
		img {
			-webkit-transform: translateY(20px);
			-webkit-filter: blur(10px);
			opacity: 0;
		}
		
		
	}
}

.invoices-block.visible {
	.js & {
		img {
			-webkit-transform: translateX(0);
			-webkit-filter: blur(0);
			opacity: 1;
		}
	}
}


.responsive-block {
	background: $lightG;
	.block-copy {
		p {
			font-size: 36px;
			span {
				color: $red;
				font-weight: bold;
			}
		}
	}
	p.ticker-intro {
		float: left;
		margin-right: 10px;
	}
	
	#ticker {
		text-align: left;
		margin-left: 307px;	
		li {
			color: $red;
			font-size: 36px;
		}
	}
}

.design-block {
	background: white;
	padding-top: 80px;
	p {
		font-weight: 300;
		font-size: 30px;
		line-height: 160%;
	}
	.smalltext {
		font-size: 18px;
		line-height: 180%;
	}
	img {
		width: auto;
	}
}

.quote-block {
 	padding: 80px 0 50px;
 	min-height: 0;
 	p {
		font-size: 30px;
 	}
 	#call-to-action {
 		padding-left: 0;
 		li {
 			float: left;
 			margin-right: 20px;
 			a {
 				border: 1px solid #ccc;
 				display: block;
 				padding: 10px 25px;
 				border-radius: 4px;
 				color: $red;
 				text-transform: uppercase;
 				font-weight: bold;
 				font-size: 14px;
 				-webkit-box-sizing: content-box;
 				text-shadow: 0px 1px #fff;
 			}
 			&:first-child a {
 				background: $red;
 				color: white;
 				border: none;

 			}
 		}
 	}
 	
}

.more-block {
	margin-top: 10px;
	border-left: 1px solid $lightG;
	padding-left: 20px;
	.section-title {
		font-weight: bold;
		text-transform: uppercase;
		color: $vibBlue;
		margin-bottom: 5px;
		display: inline-block;
	}
	ul {
		padding-left: 0;
		li {
			h3 {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 400;
			}
			p {
				font-size: 16px;
				display: none;
			}
		}
	}
}


.services {	
	background: white url(../images/services.jpg) no-repeat top right;
	p {
		font-size: 24px;
		font-weight: 300;
	}
	strong {
		color: $vibBlue;
		font-weight: 400;
	}
	.main-content {
		background: transparent;
		h3 {
			text-transform: uppercase;
			font-style: italic;
			font-weight: bold;
		}
	}
	.navbar {
		width: 1170px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 15px;
	}
	.page-title {
		font-size: 60px;
		font-family: $serif;
		font-style: italic;
		color: $red;
		margin-top: 200px;
		font-weight: bold;
		text-shadow: 0px 1px #fff;
		margin-bottom: 50px;
	}
	.intro-section {
		margin-bottom: 100px;
	}
}