$serif: "Tisa OT", Georgia, serif;
$sans: "Brandon Grotesque", Helvetica, sans-serif;
$yl: #ffe633;
$red: #f02f16;
$lightG: #f0f3f4;
$vibBlue: #10a7c7;
$dark: #333;
$muteBlue: #81b7c1;


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar {
	background: none;
	z-index: 2;
	top: 50px;
	left: 0;
	border: none;
	color: white;
	padding: 0 5%;
	.nav {
		li {
			text-transform: uppercase;
			font-size: 16px;
			font-style: italic;
			a {
				color: white;
				padding-top: 12px;
				&:hover {
					color: $vibBlue;
				}
				.services & {
					color: $muteBlue;
				}
			}
		}
	}
	.navbar-brand {
		background: url('../images/hc-logo.png') no-repeat;
		text-indent: -9999px;
		width: 43px;
		height: 43px;
	}
}

body {
	font-family: $sans;
	background: white;
}

.cover {
	height: 800px;
	background: url('../images/home-bg.jpg') no-repeat;
	background-size: cover;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	padding: 0 5%;
	color: white;
	z-index: -1;
	h3 {
		margin-top: 90px;
		font-family: $serif;
		font-weight: 400;
		font-style: italic;
		line-height: 180%;
		font-size: 30px;
	}
	h1 {
		margin-top: 40px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 42px;
		span {
			font-family: $serif;
			text-transform: none;
			font-style: italic;
		}

	}
	.intro {
		position: absolute;
		bottom: 50px;
	}
}



.main-content {
	background: white;
	overflow: auto;
	width: 100%;	
	padding-top: 30px;
}

.section {
	img {
		width: 100%;
	}
	li {
		list-style: none;
	}		
}

.story-block {
	padding-bottom: 50px;
	min-height: 600px;
	background: white;
	padding-top: 50px;
	overflow-x: hidden;
	p {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 30px;
	}
	.project-title {
		color: $red;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.linkout {
		font-family: $serif;
		font-style: italic;
		a {
			color: inherit;
		}
	}
}

.invoices-block {
	padding: 50px 5%;
	margin-bottom: 0;
	background: #d75544;
	color: white;
	p {
		font-weight: 400;
	}
	img {
		width: auto;
		position: absolute;
		margin-left: -50px;
		-webkit-transition-duration: 1400ms;
	}
	.project-title {
		color: white;
	}
	.meta-block {
		position: absolute;
		top: 350px;
		right: 90px;
	}
	.js & {
		img {
			-webkit-transform: translateY(20px);
			-webkit-filter: blur(10px);
			opacity: 0;
		}
		
		
	}
}

.invoices-block.visible {
	.js & {
		img {
			-webkit-transform: translateX(0);
			-webkit-filter: blur(0);
			opacity: 1;
		}
	}
}


.responsive-block {
	background: $lightG;
	.block-copy {
		p {
			font-size: 36px;
			span {
				color: $red;
				font-weight: bold;
			}
		}
	}
	p.ticker-intro {
		float: left;
		margin-right: 10px;
	}
	
	#ticker {
		text-align: left;
		margin-left: 307px;	
		li {
			color: $red;
			font-size: 36px;
		}
	}
	.project-linkout {
		z-index: 20;
		position: absolute;
		right: 0;
		bottom: 20px;
	}
}

#responsive-slides {
	height: 430px;
	li {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}



.design-block {
	background: white;
	padding-top: 80px;
	p {
		font-weight: 300;
		font-size: 30px;
		line-height: 160%;
	}
	.smalltext {
		font-size: 18px;
		line-height: 180%;
	}
	img {
		width: auto;
	}
}

.quote-block {
 	padding: 80px 0 50px;
 	min-height: 0;
 	background: #fafafa;
 	p {
		font-size: 30px;
 	}
 	#call-to-action {
 		padding-left: 0;
 		li {
 			float: left;
 			margin-right: 20px;
 			a {
 				border: 1px solid #ccc;
 				display: block;
 				padding: 10px 25px;
 				border-radius: 4px;
 				color: $red;
 				text-transform: uppercase;
 				font-weight: bold;
 				font-size: 14px;
 				-webkit-box-sizing: content-box;
 				text-shadow: 0px 1px #fff;
 			}
 			&:first-child a {
 				background: $red;
 				color: white;
 				border: none;

 			}
 		}
 	}
 	
}

.more-block {
	margin-top: 10px;
	border-left: 1px solid $lightG;
	padding-left: 20px;
	.section-title {
		font-weight: bold;
		text-transform: uppercase;
		color: $vibBlue;
		margin-bottom: 5px;
		display: inline-block;
	}
	ul {
		padding-left: 0;
		li {
			h3 {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 400;
			}
			p {
				font-size: 16px;
				display: none;
			}
		}
	}
}

.services {	
	p {
		font-size: 18px;
		line-height: 30px;
		font-family: $serif;
		font-weight: 300;
		color: darken($vibBlue, 30%);
	}
	strong {
		font-weight: 400;
	}
	.main-content {
		h3 {
			text-transform: uppercase;
			font-weight: 200;
			font-size: 32px;
			color: $vibBlue;
			line-height: 42px;
			margin-top: 0;
		}
	}
	
	.intro-section {
		position: relative;
		p {
			font-size: 18px;
			color: darken($vibBlue, 30%);
		}
		.page-title {
			font-size: 48px;
			line-height: 120%;
			font-family: $sans;
			color: #10a7c7;
			font-weight: 600;
			position: fixed;
			bottom: 450px;
			z-index: 100;
			width: 500px;
			top: 120px;
		}
		#learn-more {
			text-transform: uppercase;
			position: fixed;
			bottom: 50px;
		}
	}
	.services-block {
		position: fixed;
		bottom: 10px;
		z-index: 4;
		margin-bottom: 0;
		opacity: 0;
	}
	#services-block-2 {
		margin-bottom: 100px;
	}
	#services-block-3 {
		position: fixed;
		
		z-index: 150;
		bottom: 25%;
		left: 10%;
		width: 700px;
		opacity: 0;
		p {
			font-size: 42px;
			line-height: 120%;
			font-style: italic;
			color: $dark;
		}
		#rule {
			width: 0px;
			height: 1px;
			margin: 30px auto 0;
			background-color: $muteBlue;
		}
	}
}

.bts {
	background: #f5f5f5 url('../images/bts.jpg') no-repeat left top;
	background-size: cover;
	.navbar {
		top: 0;
		background: transparentize(#000, .2);
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 0;
		li {
			font-weight: bold;
		}
	}
}

.video-intro {
	color: white;
	text-align: center;
	margin-top: 25%;
	font-size: large;
}

.project-list {
	margin-top: 3900px;
	margin-bottom: 50px;
	.img-block {
		padding: 0;
		overflow: hidden;
		border: 1px solid #eee;
		border-radius: 4px;
		img {
			width: 100%;
		}
	}
	.text-block {
		header {
			margin-top: 10px;
			h4 {
				color: $vibBlue;
				text-transform: uppercase;
				font-weight: 200;
				font-size: 20px;
				margin-right: 5px;
				display: inline-block;
				margin-bottom: 5px;
			}
			span {
				text-transform: uppercase;
				display: inline-block;
				border: 1px solid lighten($red, 40%);
				padding: 2px 5px;
				-webkit-transform: translateY(-2px);
				margin-bottom: 5px;
				border-radius: 5px;
				font-size: 10px;
				color: $dark;
				a {
					color: inherit;
				}
			}
		}
		
		p {
			font-size: 16px;
			font-family: $serif;
			font-weight: normal;
			color: #666;
		}
	}
}

.better-world-block {
	font-family: $serif;
	h3 {
		font-size: 60px;
		font-family: $serif;
		/*font-style: italic;*/
		margin-bottom: 10px;
	}
	.lead {
		font-style: italic;
	}
	h4 {
		font-size: 32px;
		color: $red;
	}
	p {
		font-size: 18px;
		line-height: 160%;
	}
	.block {
		margin-bottom: 50px;
	}
}

#units {
	position: fixed;
	z-index: 100;
	bottom: 0;
}

#browser {
	width: 1041px;
	height: 678px;
	background: url('../images/browser.png') no-repeat;
	position: fixed;
	z-index: 10;
	bottom: -140px;
	right: -400px;
	-webkit-transform-origin: top right;
}

#ipad {
	width: 351px;
	height: 466px;
	background:  url('../images/ipad.png') no-repeat left top;
	position: fixed;
	z-index: 13;
	bottom: -1px;
}

#iphone {
	width: 214px;
	height: 393px;
	background: url('../images/iphone.png') no-repeat left top;
	position: fixed;
	z-index: 15;
	bottom: -1px;
	right: 0;
}

#social {
	width: 418px;
	height: 231px;
	background: url('../images/social.png') no-repeat left top;
	position: fixed;
	z-index: 20;
	bottom: 50px;
	right: 0;
	opacity: 0;
	-webkit-transform: scale(0.5);
}