$serif: "FreightText", Georgia, serif;
$sans: "Brandon Grotesque", Helvetica, sans-serif;
$sansAlt: "Bree", sans-serif;
$yl: #e8ea1c;
$red: #ee4853;
$lightG: #f0f3f4;
$vibBlue: #10a7c7;
$dark: #1b3f4b;
$black: #332222;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-wrap{
	position: relative;
	/*background: transparentize($yl, 0);*/
	
	position: absolute;
	right: 0;
	left: 0;
	.nav {
		width: 500px;
		margin: 0 auto;
		li {
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			font-family: $sansAlt;
			float: left;
			a {
				color: $yl;
				padding-top: 15px;
				&:hover {
					color: $vibBlue;
				}
			}
		}
	}
}

.navbar {
	/*display: none;*/
	z-index: 200000;
	left: 0;
	margin-top: -10px;
	opacity: 0;
	right: 0;
	border: none;
	color: white;
	padding: 0px 5%;
	background: $red;
	border-radius: 0;
	.nav {
		li {
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			font-family: $sansAlt;
			a {
				color: $yl;
				padding-top: 15px;
				&:hover {
					color: $vibBlue;
				}
			}
		}
	}
	#hc-logo {
		margin-top: -50px;
		z-index: 200;
		width: 100px;
		path, polygon {
			fill: $yl;
		}
		
	}
}

h1, h2, h3, h4 {
	font-family: $sansAlt;
	font-weight: bold;
	text-transform: uppercase;
}

body {
	font-family: $sans;
	background-color: $dark;
	color: $yl;
}

.btn-primary {
	background: $red;
	font-family: $sansAlt;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	border: none;
	color: $yl;
	padding: 15px 35px;
	border-radius: 0;
}
.cover {
	color: $yl;
	width: 90%;
	max-width: 1280px;
	margin: 50px auto 0px;
	
	
}

.intro {
	font-family: $serif;
	font-style: italic;
	font-weight: 100;
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: center;
	p {
/*		-webkit-transform: translateY(30px);
		opacity: 0;*/
		font-size: 22px;

	}
/*	p:nth-child(1) {
		-webkit-transition-delay: 1s;
		.loaded & {
			opacity: 1;
			-webkit-transform: translateY(0);	
		}
	}
	p:nth-child(2) {
		-webkit-transition-delay: 2.5s;
		.loaded & {
			opacity: 1;
			-webkit-transform: translateY(0);	
		}
	}
	p:nth-child(3) {
		-webkit-transition-delay: 4s;
		.loaded & {
			opacity: 1;
			-webkit-transform: translateY(0);	
		}
	}*/
	.main-title {
		margin-top: 30px;
		font-family: $sansAlt;
		font-size: 24px;
		font-style: normal;
	}
	h1 {
		font-size: 42px;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: bold;
		span {
			text-transform: none;
/*			font-weight: 100;
			font-family: $serif;
			font-style: italic;*/
		}
	}
}
.hero {
	overflow: hidden;
	width: 100%;
	position: relative;
	height: 430px;
}
#hc-cup {
	margin-right: 4%;
	margin-top: 20px;
	width: auto;
	
	
}
#left-block {
	position: absolute;
	left: 0%;
	width: 100%;
	height: 800px;
	
}

#right-block {
	left: 53%;
	position: absolute;
	width: 46%;
}


.home-nav {
	background: url('../images/nav-bg.png') no-repeat;
	overflow: auto;
	width: 527px;
	height: 64px;
	padding-top: 20px;
	li {
		font-family: $sansAlt;
		font-weight: bold;
		text-transform: uppercase;
		list-style: none;
		float: left;
		margin: 0 10px;
		font-size: 18px;
		a {
			color: $yl;
		}
	}
}

.main-content {
	overflow: auto;
	width: 100%;	
	padding-top: 30px;
}

.section {
	img {
		width: 100%;
	}
	li {
		list-style: none;
	}		
}

.story-block {
	padding-bottom: 50px;
	min-height: 600px;
	background: white;
	padding-top: 50px;
	overflow-x: hidden;
	p {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 30px;
	}
	.project-title {
		color: $red;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.linkout {
		font-family: $serif;
		font-style: italic;
		a {
			color: inherit;
		}
	}
}




.responsive-block {
	background: $lightG;
	.block-copy {
		p {
			font-size: 36px;
			span {
				color: $red;
				font-weight: bold;
			}
		}
	}
	p.ticker-intro {
		float: left;
		margin-right: 10px;
	}
	
	#ticker {
		text-align: left;
		margin-left: 307px;	
		li {
			color: $red;
			font-size: 36px;
		}
	}
	.project-linkout {
		z-index: 20;
		position: absolute;
		right: 0;
		bottom: 20px;
	}
}

#responsive-slides {
	height: 430px;
	li {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}



.design-block {
	background: white;
	padding-top: 80px;
	padding-bottom: 0;
	p {
		font-weight: 300;
		font-size: 30px;
		line-height: 160%;
	}
	.smalltext {
		font-size: 18px;
		line-height: 180%;
	}
	img {
		width: 100%;
		-webkit-box-shadow: 0px 0px 30px rgba(0,0,0, .2);
	}
	.project-linkout  {
		
		display: none;
	}
}


.quote-block {
 	padding: 80px 0 50px;
 	min-height: 0;
 	background: #fafafa;
 	p {
		font-size: 30px;
 	}
 	#call-to-action {
 		padding-left: 0;
 		li {
 			float: left;
 			margin-right: 20px;
 			a {
 				border: 1px solid #ccc;
 				display: block;
 				padding: 10px 25px;
 				border-radius: 4px;
 				color: $red;
 				text-transform: uppercase;
 				font-weight: bold;
 				font-size: 14px;
 				-webkit-box-sizing: content-box;
 				text-shadow: 0px 1px #fff;
 			}
 			&:first-child a {
 				background: $red;
 				color: white;
 				border: none;

 			}
 		}
 	}
 	
}

.more-block {
	margin-top: 10px;
	border-left: 1px solid $lightG;
	padding-left: 20px;
	.section-title {
		font-weight: bold;
		text-transform: uppercase;
		color: $vibBlue;
		margin-bottom: 5px;
		display: inline-block;
	}
	ul {
		padding-left: 0;
		li {
			h3 {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 400;
			}
			p {
				font-size: 16px;
				display: none;
			}
		}
	}
}

@-webkit-keyframes Dash {
	0% {
		stroke-dashoffset: 500;
	}
	99% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes longdash {
	0% {
		stroke-dashoffset: 3500;
	}
	99% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes mainframe {
	0% {
		stroke-dashoffset: 6500;
	}
	99% {
		stroke-dashoffset: 0;
	}
}


 .short-path {
	stroke: rgb(62, 114, 125);
	stroke-dasharray: 500;
	stroke-dashoffset: 0;
	stroke-width: 1px;
	fill-opacity: 0;
	stroke-opacity: 0;
	.animate & {
		stroke-opacity: 1;
		-webkit-animation: Dash 10s linear;
	}
}

.long-path {
	stroke: rgb(62, 114, 125);
	stroke-dasharray: 3500;
	stroke-dashoffset: 0;
	stroke-width: 1px;
	fill-opacity: 0;
	stroke-opacity: 0;
	.animate & {
		stroke-opacity: 1;
		-webkit-animation: longdash 4s linear;
	}
	
}

@-webkit-keyframes cupDash {
	0% {
		stroke-dashoffset: 600;
	}
	99% {
		stroke-dashoffset: 0;
	}
}

#cup {
	margin: 0 auto;
	display: block;
	#Layer_5 {
		circle, polyline, line, path, polygon {
			stroke: $red;
			stroke-dasharray: 600;
			stroke-dashoffset: 0;
			stroke-width: 1px;
			fill-opacity: 0;
			stroke-opacity: 0;
			stroke-opacity: 1;
			-webkit-animation: cupDash 12s linear;
		}
	}	
} 

@-webkit-keyframes cookies {
	0% {
		stroke-dashoffset: 690;
		fill-opacity: 0;
		stroke-opacity: 1;
	}
	95% {
		stroke-dashoffset: 0;
		fill-opacity: 0;
		stroke-opacity: 1;
	}
	100% {
		fill-opacity: 1;
		stroke-opacity: 0;
		
	}
}



#cookies-logo {
	path {
		stroke: $yl;
		stroke-dasharray: 690;
		stroke-dashoffset: 0;
		fill: $yl;
		fill-opacity: 1;
		stroke-opacity: 0;
		-webkit-animation: cookies 8s linear;
	}
}

@-webkit-keyframes icons {
	0% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}

#icons {
	path, circle {
		fill-opacity: 1;
		fill: $red;
		
	}
	g {
		fill-opacity: 0;
	}
	circle {
		display: none;
	}
	.popin path, circle {
		fill-opacity: 1;
		stroke-opacity: 0;
		-webkit-animation: icons .5s linear;
	}
}


.main-frame {
	stroke: rgb(62, 114, 125);
	stroke-dasharray: 6500;
	stroke-dashoffset: 0;
	stroke-width: 1px;
	fill-opacity: 0;
	stroke-opacity: 0;
	.animate & {
		-webkit-animation: longdash 4s linear;
		stroke-opacity: 1;
	}
	
}

.line-path {
	shape-rendering: crispEdges;
}

.address-path {
	font-family: $sans;
	font-weight: 100;
	font-size: 10px;
	text-transform: uppercase;
	stroke-opacity: 0 !important;
	fill-opacity: 1 !important;
	-webkit-transition-delay: 2s;
	-webkit-transition-duration: 800ms;
	opacity: 0;
	.animate & {
		opacity: 1;
	}
}



.bg-fill {
	fill-opacity: 1;
}

.services-wrap {
	color: $yl;
	.services-block {
		margin-bottom: 50px;
	}
	.intro-section {
		margin-bottom: 50px;
	}
	h3 {
		color: $red;
		font-weight: bold;
		font-family: $sansAlt;
		text-transform: uppercase;
		font-size: 30px;
		.amp {
			font-family: Baskerville;
			font-style: italic;
			font-weight: normal;
		}
	}
	.lead {
		font-size: 24px;
	}
	h4 {
		font-size: 24px;
		font-weight: bold;
		font-family: $sansAlt;
		text-transform: uppercase;
	}
	p {
		font-size: 18px;
		strong {
			font-weight: normal;
		}
	}
}

.page-title {
	font-size: 80px;
	text-align: center;
	font-family: $sansAlt;
	font-weight: bold;
	text-transform: uppercase;
	margin: 120px auto 10px;
}

.request-quote-block {
	margin-top: 100px;
	margin-bottom: 100px;
	h3 {
		font-size: 42px;
	}
	.request-block {
		
		padding: 25px;
	}
	.selected {
		background: lighten($dark, 2%);
		border: 1px solid lighten($dark, 5%);
	}
	.glyphicon {
		font-size: 18px;
	}
}

.intro-container {
	.titles {
		margin-top: 30px;
		h2 {
			font-size: 48px;
		}
	}
}

#intro-screenshots {
	position: relative;
	margin-top: 150px;
	z-index: 0;
	height: 450px;
	.screenshot {
		position: absolute;
		-webkit-transform: translateY(0);
		-webkit-transform-origin-y: bottom;
		height: 444px;
	}
}

#scr-ggw {
	z-index: 1;
	top: 35px;
}

#scr-aether {
	z-index: 50;
	
}

#scr-nitido {
	top: 35px;
	right: 0;
	z-index: 1;
}

.screenshot {
	max-width: 100%;
}

.full-container {
	position: relative;
	background: white;
	z-index: 30;
	color: $black;
	border-bottom: 1px solid #ddd;
	padding-top: 50px;
	padding-bottom: 50px;
	.section {
		padding: 50px 0;
	}
	h5 {
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 100;
		margin-bottom: 20px;
		span {
			color: $red;
			font-weight: bold;
		}
	}
	p {
		em {
			font-family: $serif;
		}
	}
}


#proj-chand {
	
	padding: 50px 2.5%;
	
	-webkit-box-shadow: 0px -10px 20px transparentize(black, 0.7);
	
	h5 {
		font-size: 30px;
		font-weight: 100;
	}
	.screenshot-wrap {
		width: 100%;
		max-width: 1400px;
	}
	
}

.screenshot-wrap {
	margin: 0 auto;
	.long-path, .short-path {
		stroke: lighten(#000, 70%);
	}

	svg {
		/*width: 100%;*/
		position: absolute;
	}
	.browser-frame {
		width: 800px;
	}
	.screenshot {
		width: 99%;
		margin-left: 1px;
		margin-top: 51px;
		opacity: 0;
		-webkit-transition-duration: 800ms;
		z-index: 100;
		.animate & {
			opacity: 1;
		}
	}
}


.screenshot-wrap.animate .screenshot {
	opacity: 1;
}



.project-info {
	margin-top: 20px;
	.project-title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		color: $red;
		margin-bottom: 5px;
	}
	.project-desc {
		font-size: 16px;
		font-family: $serif;
		font-style: italic;
	}
}

#proj-goaprop {
	padding: 50px 0;
	background-color: #fbfbf2;
	p {

	}
	.lead {
		margin-top: 20px;
	}
	img {
		max-width: 100%;
	}
	h4 {
		font-family: $sans;
		font-weight: 600;
		font-size: 24px;
		font-weight: bold;
		span {
			color: $red;
		}
	}
}

#proj-arev {
	background: white;
	padding: 50px 0;
	.screenshot-wrap {
		position: relative;
	}
	.lead {
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.long-path, .short-path, text {
		stroke: #86eed8;
	}
	
}

#arev-iphone-frame-wrap {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
	
}

#arev-frame {
	height: 700px;
}

#scr-arev {
	max-width: 1187px;
}

#arev-frame-iphone {

	right: -20px;
	bottom: -40px;
	width: 260px;
	height: 519px;
}

#scr-arev-iphone {
	width: 226px;
	position: absolute;
	right: -2px;
	bottom: 26px;
	border-radius: 4px;
}

#arev-frame-iphone {
	rect {
		fill-opacity: 1 !important;
	}	
} 

#proj-palma {
	padding-top: 50px;
	padding-bottom: 70px;
	background: #fafafa;
	
	.screenshot-wrap {
		margin-top: 20px;
	}
	.project-info {
		margin-top: 42px;
	}
}

#proj-invoices {
	overflow: hidden;
	height: 550px;
	img {
		width: 600px;
		border: 1px solid #ddd;
		position: absolute;
		top: 25px;
		left: 494px;
		/*-webkit-transition-duration: 1400ms;*/
		/*perspective: 500px;*/
		-webkit-transform: perspective(1900px)  rotateX(45deg) rotateZ(43deg) rotateY(0deg)
		skewY(-14deg) skewX(-11deg);
		/*-webkit-box-shadow: 2px 5px 5px #ddd;*/
	
/*	.js & {
		img {
			-webkit-transform: translateY(20px) skew(10deg);
			-webkit-filter: blur(10px);
			opacity: 0;
		}
		
		*/
	}
	.project-info {
		margin-top: 20px;
		position: absolute;
		bottom: 20px;
		z-index: 10000;
		width: 300px;
	}
	.screenshot-wrap {
		top: -260px;
		left: -250px;
		
	}
}

#ipad-3d {
	path {
		fill-opacity: 1;
		stroke: #ffffff;
		/*stroke: $red;*/
	}
	ellipse {
		fill-opacity: 1;
		fill: #ddd;
		stroke: #ffffff;
	}
}

/*
#proj-invoices.visible {
	.js & {
		img {
			-webkit-transform: translateX(0) skewY(50px);
			-webkit-filter: blur(0);
			opacity: 1;
		}
	}
}*/

#cta { // Call to Action or Request Quote
	margin-top: 70px;
	input {
		float: left;
		width: 320px;
		padding: 15px 25px 14px;
		font-size: 18px;
		font-family: $serif;
		font-style: italic;
		outline: none;
		border-radius: 3px;
		border: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		
	}
	button {
		float: left;
	}
}

#request-quote {
	color: $black;
	background: transparentize($yl, 0.1);
	.modal-content {
		box-shadow: none;
	}
	.modal-header {
		padding: 20px 25px;
		h4 {
			color: $black;
			font-family: $sans;
			font-weight: 100;
			text-transform: none;
			font-size: 30px;
		}
		p {
			font-family: $serif;
		}
	}
	.modal-footer {
		border-top: none;
	}
	.modal-body {
		/*background: $yl;*/
	}
	.btn-primary {
		padding: 7px 15px;
		border-radius: 4px;
		font-size: 14px;
		background: white;
		color: $red;
		border: 1px solid $red;
	}
	h5 {
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 0;
	}
	.row {
		margin-bottom: 20px;
	}
}

#footer {
padding-bottom: 30px;
padding-top: 40px;
border-top: 1px solid lighten($dark, 10%);
	h3 {
		color: $red;
		font-size: 30px;
		margin-top: 30px;
	}
	.contact-info {
		padding-left: 0;
		li {
			font-size: 18px;
			margin-bottom: 5px;
			list-style: none;
			margin-right: 15px;
			float: left;
		}
	} 
	address {
		font-size: 18px;
		margin-top: 20px;
	}
	hr {
		border-color: lighten($dark, 10%);
	}
	.footer-nav {
		padding-left: 0;
		margin-top: 10px;
		li {
			list-style: none;
			font-size: 18px;
			font-weight: bold;
			font-family: $sansAlt;
			text-transform: uppercase;
			margin-bottom: 10px;
			float: left;
			margin-right: 20px;
			a {
				color: $yl;
			}
		}
		.contact-link {
			font-weight: normal;
			text-transform: none;
			font-size: 14px;
		}
	}
	#hc-logo {
		margin-top: 0px;
	}
}

#cold-quote {
	margin-top: 0px;
	/*font-family: $serif;*/
	font-style: italic;
	/*font-size: 18px;*/
	display: block;
	color: $yl;
	
}

#footer-bar {
	opacity: 1;
	margin-top: 0;
	#hc-logo {

	}
}